@font-face {
    font-family: "Stardom";
    src: url('public/Fonts/Stardom-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Chillax-Bold';
    src: url('public/Fonts/Chillax-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Chillax-Extralight';
    src: url('public/Fonts/Chillax-Extralight.otf') format('opentype');
}


@font-face {
    font-family: 'Public-Sans-Black';
    src: url('public/Fonts/PublicSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Public-Sans-Bold';
    src: url('public/Fonts/PublicSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Public-Sans-Regular';
    src: url('public/Fonts/PublicSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Public-Sans-Light';
    src: url('public/Fonts/PublicSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Public-Sans-Extralight';
    src: url('public/Fonts/PublicSans-ExtraLight.otf') format('opentype');
}