@font-face {
    font-family: 'Stardom';
    src: url('/public/Fonts/Stardom.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Okine-Black';
    src: url('/public/Fonts/Okine-Black.woff2'),  format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Okine-Black-Outline';
    src: url('/public/Fonts/Okine-Black-Outline.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Okine-Regular';
    src: url('/public/Fonts/Okine-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Okine-Light';
    src: url('/public/Fonts/Okine-Light.woff2'), format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Okine-Thin-Outline';
    src: url('/public/Fonts/Okine-Thin-Outline.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Okine-Thin';
    src: url('/public/Fonts/Okine-Thin.woff2') format('woff2');
    font-display: swap;
}