:root{
    --clr-bg: hsl(0, 0%, 94%);
    --clr-txt: hsl(0 0 0);

    --clr-primary: hsl(212, 91, 9);
    --clr-secondary: hsl(43, 78, 93);
    --clr-accent: hsl(215, 66, 17);

    --font-size-300: .875rem;
    --font-size-400: 1rem;
    --font-size-500: 1.5rem;
    --font-size-600: 2rem;
    --font-size-700: 3rem;
    --font-size-800: 5rem;
    --font-size-900: 10rem;

    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-900: 900;

}