:root{
    --fs-display: 17.938rem;
    --fs-heading: 10.062rem;
    --fs-heading2: 6.875rem;
    --fs-heading3: 4.250rem;
    --fs-body3: 2.625rem;
    --fs-body2: 1.625rem;
    --fs-body: 1rem;
    --fs-caption: 0.813rem;

    --clr-txt: hsl(216, 100%, 99%);
    --clr-bg: hsl(216, 100%, 1%);
    --clr-primary: hsl(216, 56%, 74%);
    --clr-secondary: hsl(217, 97%, 30%);

    //These are the values for the Light Mode
    --lm-txt: hsl(216, 100%, 1%);
    --lm-bg: hsl(216, 100%, 99%);
    --lm-primary: hsl(217, 97%, 30%);
    --lm-secondary: hsl(216, 56%, 74%);
    --lm-accent: hsl(290, 78%, 27%);

    --accent: hsl(290, 22%, 73%);

    --neutral-900: hsl(0, 0%, 0%);
    --neutral-700: hsl(0, 0%, 20%);
    --neutral-500: hsl(0, 0%, 40%);
    --neutral-300: hsl(0, 0%, 60%);
    --neutral-100: hsl(0, 0%, 100%);

    

}