@forward '../Components/properties';
@forward '../Components/font-faces';

//Contact Component
.contact{

    padding-block: calc(5em + 5dvw);
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;
    color: var(--clr-txt);

    .flex-wrapper{ overflow: hidden;}

    & > p{font-size: clamp(calc(var(--fs-caption) + .25em), 3dvw, calc(var(--fs-body) + .35dvw)); color: var(--clr-txt);}

    @media screen and (min-width: 800px) {
        .flex-wrapper{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: space-between; 
            align-items: center;
        }
    }
    @media screen and (width > 1400px) {
        .flex-wrapper{max-width: 90%; margin-inline: auto }}

        &__sub-heading{font-size: clamp(var(--fs-body), 5vw, var(--fs-body2)); font-family: 'Okine-Thin'; color: var(--clr-txt);}

    h2{
        font-size: clamp(calc(var(--fs-body3) + 5dvw), 10vw, var(--fs-display));
        max-width: 7ch;
        font-family: 'Okine-Bold';
        padding-block: .5em;
        color: var(--clr-primary);

        span{display: inline-block; transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);}
    }

    a{
        --_xPos: 0;
        --_yPos: 0;
        --_visibility: hidden;

        text-decoration: none;
        font-size: calc(var(--fs-body) + .5dvw);
        display: inline-flex;
        font-family: 'Okine-Medium';
        color: var(--clr-txt);
        align-items: center;
        justify-content: center;
        gap: .75rem;
        border: 2px solid var(--clr-primary);
        padding: .5em 2em;
        border-radius: 3rem;
        position: relative;
        width: 100%;
        & svg{width: .65em;}
        overflow: hidden;
        transition: color 500ms ease-in-out;

        &::after{
            position: absolute;
            visibility: var(--_visibility);
            content: '';
            background-color: var(--clr-primary);
            left: var(--_xPos);
            top: var(--_yPos);
            z-index: -1;
            border-radius: 50%;
            scale: 0;
            height: 1px;
            width: 1px;
            transition: scale 1s ease-in-out;
        }

        &:hover, &:focus{ 
            color: var(--clr-bg);
            box-shadow: 0 0 50px var(--clr-secondary);

            &::after{scale: 1000} 
        }
    }

    p:not(:first-of-type){
        font-size: calc(var(--fs-body) + .5dvw);
        font-family: 'Okine-Regular';
        text-align: center;
        color: var(--clr-txt);
    }

    &__details {
        position: relative;

        @media screen and (max-width: 800px) { padding-top: 3em }
        & p:first-of-type{
            font-size: calc(var(--fs-body) + .5dvw);
            text-transform: uppercase;
            color: var(--accent);
            text-align: center;
            padding-block: calc(1rem + 5dvw);
            font-family: 'Okine-Medium'
        }
    }

    &__scroll-to{
        border: 3px solid var(--clr-txt);
        width: max-content;
        padding: calc(.5rem + 1.5dvw);
        border-radius: 50%;
        margin-top: calc(5em + 5dvw);
        margin-left: auto;
        cursor: pointer;
        rotate: 180deg;
        background-color: var(--neutral-900);
        
        svg{
            width: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
            height: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
        }

        &:hover{border-color: var(--clr-primary); box-shadow: 0 0 30px var(--neutral-500); & svg{animation: down-arrow 500ms linear infinite alternate;}}
    }
}