@forward '../Components/properties';

.footer{
    background-color: var(--neutral-900);
    padding-block: calc(5rem + 5dvw);

    .logo{
        color: var(--neutral-100); 
        text-decoration: none;
        font-size: clamp(var(--fs-body2), 5vw, calc(var(--fs-body3)));
        font-family: 'Okine-Medium';
        position: relative;
        display: inline-block;
    }

    p:first-of-type{font-size: var(--fs-caption);font-family: 'Okine-Light'; color: var(--neutral-100);}

    nav{
        max-width: clamp(80%, 85vw, 110rem);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        @media screen and (min-width: 800px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__links li:not(:last-of-type){padding-bottom: .75rem;}

    &__mark {
        font-family: 'Okine-Light';

        li:first-of-type{
            display: inline-flex;
            gap: .5rem;
            align-items: center;

            & svg{stroke-width: 1.5px;}
        }

        li:nth-child(2){color:var(--accent); font-family: 'Okine-Medium';}
    }

    a{
        text-decoration: none;
        color: var(--neutral-100);

        &:not(.logo){
            &:hover, &:focus{
                color: var(--secondary);
                font-style: italic;
            }
        }
    }
}
