.footer{
    padding-block: 4rem;

    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-block: 2rem;
        max-width: clamp(80%, 85vw, 110rem);
        margin-inline: auto;

        svg{color: var(--clr-dm-primary)}
    
        img{
            rotate: 180deg;
            cursor: pointer;
            animation: hover .75s ease-in-out alternate infinite;
        }
    }
}

@keyframes hover{
    from{transform: translateY(.15rem)}
    to{transform: translateY(-.5rem);}
}