.header{
    padding-block: 2rem;
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;

    #logo{color: white}

    .burger{
        position: relative;
        z-index: 999;
        top: -.70rem;
        background-color: var(--clr-dm-primary);
        clip-path: circle();
        transform: rotate(0);
        padding: .55rem;
        pointer-events: all;
        touch-action: all;
    }
    
    button{
        padding: .5rem 1rem;
        background-color: transparent;
        border: 1px solid black;
        cursor: pointer;
    }

    svg{
        color:black; 
        cursor: pointer;

        &:not(#logo):active{
            transform: rotate(180deg);
            transition: transform 200ms ease-in-out;
        }
    }

    .group{
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    img{cursor: pointer;}

    nav ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content:  space-between;
        align-items: center;
    }
}