@forward '../Components/font-faces';
@forward '../Components/properties';

.header{
    padding-block: 2rem;
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;

    .logo{
        color: var(--clr-txt); 
        text-decoration: none;
        font-size: clamp(var(--fs-body2), 5vw, calc(var(--fs-body3)));
        font-family: 'Okine-Medium';
        position: relative;
        display: inline-block;
    }

    //Right group containing burger and theme icon
    &__btns{
        display: inline-flex;
        align-items: center;
        gap: 1rem;
    }

    //Container for Burger btn
    &__btns--mobile-menu{
        cursor: pointer;
        display: none;
        pointer-events: all;
        touch-action: all;
        position: relative;
        cursor: pointer;

        & svg{color: var(--clr-txt);}
    }

    a{
        color: var(--clr-txt);
        text-decoration: none;
        font-size: clamp(var(--fs-caption), 3vw, 1.25rem);
        font-family: 'Okine-Thin';
        position: relative;

        //Targets the link that isn't the logo
        &:not(.logo)::after{
            position: absolute;
            content: '';
            height: 3px;
            width: 0%;
            bottom: 0;
            left: 0;
            transition: width 300ms ease-in-out;
            background-color: var(--neutral-500);
            border-radius: 1rem;
            z-index: -1;
        }

        &.active{
            font-family: 'Okine-Light';
            &::after{width: 50%; background-color: var(--accent);}
        }

        &:hover{ &:not(.logo, .active)::after{width: 50%; background-color: var(--neutral-500);} }
    }

    &__pages{
        display: flex;
        padding-block: 1rem;
        gap: 2rem;
        overflow: hidden;
        align-items: center;
    }

    img{cursor: pointer;}

    nav ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content:  space-between;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .header{
        &__btns--mobile-menu {display: block}
        &__pages{display: none;}
    }
}