.nav{
    position:fixed;
    inset: 0;
    margin: auto;
    background-color: var(--neutral-900);
    min-height: 100dvh;
    display: flex;
    align-items: center;
    transition: all 700ms ease-in-out;
    pointer-events: all;
    touch-action: auto;
    z-index: 3;
    
    &.hidden{clip-path: circle(0 at 92% 6%); opacity: 0;}
    &.show{clip-path: circle(300vh at 92% 6%); opacity: 1;}

    .close{
        position: absolute;
        top: 5dvh;
        right: 8dvw;
        cursor: pointer;
    }

    ul {
        padding-left: calc(2rem + 15vw);

        & li a{
            text-decoration: none;
            font-size: clamp(var(--fs-body3), 10vw, var(--fs-heading2));
            position: relative;
            color: var(--clr-text);
            font-family: 'Okine-Medium';
            z-index: 3;

            &::after{
                position: absolute;
                content: '';
                height: 3px;
                width: 0;
                background-color: var(--neutral-500);
                left: 0;
                bottom: 0;
                border-radius: 1rem;
                transition: width 500ms ease-in-out;
            }

            &.active{
                font-family: 'Okine-Bold';
                &::after{width: 50%; background-color: var(--accent);}
            }

            &:hover{ &::after{width: 50%;} }
    
            &:focus{
                color: var(--accent);
                outline: 0;
            }
        }
    }

    .resume{
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: calc(.5rem + 1.5dvw);

        & svg{
            height: .35em;
            width: .35em;
            stroke: var(--neutral-100);
            stroke-width: .04em;
            margin-top: calc(.5rem + 1dvw);
        }

        &:focus-within{
            svg{
                color: var(--accent);
                stroke: var(--accent);
            }
        }
    }
}