.preloader{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 20;

    //To remove the preloader from dom when loading is done
    &.removed{display: none;}

    //Hides the dots from view
    &__dot{visibility: hidden;}

    //Serves as background which will fade out later
    &__bg{
        flex: 1;
        background-color: var(--neutral-900);
        transform-origin: top;
    }

    h1{
        font-size: clamp(calc(var(--fs-body) + .5rem), 4vw, var(--fs-heading2));
        font-family: 'Okine-Black';
        color: var(--neutral-100);
        position: absolute;
        align-self: center;
        margin: auto;
        text-transform: uppercase;

        span{display:inline-block;transition: all .1s ease;}
    }
}