.preloader{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-content: center;
    background-color: black;

    span{transition: transform .1s ease}

    h1{
        font-size: clamp(var(--font-size-300), 5vw, var(--font-size-700));
        font-family: 'Stardom';
        color: white;
        transition: all 0.1s cubic-bezier(0.45, 0, 0.55, 1);

        span{display:inline-block;}
    }
}