@forward 'Components/reset';
@forward 'Components/font-faces';
@forward 'Components/properties';

//Pages
@forward 'Pages/preloader.scss';
@forward 'Pages/header.scss';
@forward 'Pages/footer.scss';
@forward 'Pages/nav.scss';
@forward 'Pages/contact.scss';


@mixin container(){
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;
}

@mixin flex($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($fit, $min, $max, $gap){
    display: grid;
    grid-template-columns: repeat($fit, minmax($min, $max));
    gap: $gap;
}

body{
    background-color: var(--clr-bg);
    font-family: 'Okine-Thin';
    color: var(--neutral-100);
    overflow-x: hidden;
    transition: background-color 1s ease-in-out
}

//Hero section
.hero{
    @include container();
    @media screen and (max-width: 600px) { padding-top: calc(5rem + 5dvw); }
    position: relative;
    max-height: 100dvh;
    overflow: hidden;

    & .wrapper{
        position: sticky;
        top: 0;
        left: 0;
        z-index: -1;
    }

    h1{
        font-size: clamp(calc(var(--fs-body3) + 2dvw), 16vw, var(--fs-display));
        font-family: 'Okine-Black';
        color: transparent;
        -webkit-text-stroke: 6px var(--clr-primary);
        padding-top: calc(.5rem + 1.5dvw);
        @media screen and (max-width: 1000px) {-webkit-text-stroke: 2px var(--clr-primary);}

        & .img{
            display: inline-block;
            position: relative;


            &::before{
                position: absolute;
                padding-top: 1.2em;
                inset: 0;
                content: '';
                background-image: url(/public/old\ dp.jpg);
                background-repeat: no-repeat;
                clip-path: circle();
                background-position: center;
                background-size: contain;
            }
        }
    }

    .subHeading{
        font-size: clamp(calc(var(--fs-body3) + 1dvw), 12vw, 14.375rem);
        font-family: 'Okine-Black';
        line-height: 1.3;
        white-space: nowrap;
        color: var(--clr-txt);
    }

    &__bottom{
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        justify-content: space-between;
        padding-top: calc(1em + 1dvw);
        color: var(--clr-txt);
        @media screen and (max-width: 600px) { padding-block: calc(10rem + 5dvw); }

        &--scrollTo{
            border: 2px solid var(--clr-primary);
            border-radius: 50%;
            padding: min(3dvw, 1.5em);
            background-color: var(--neutral-900);

            & svg{
                width: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
                height: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
                animation: down-arrow 500ms linear infinite alternate;
            }
        }
    }

}

//Wrapper to make the parallax effect work
.bg-wrapper{background-color: var(--clr-bg); position: relative; z-index: -1;}

//intro section
.intro{
    @include container();
    padding-block: calc(5em + 10dvw) calc(10em + 10dvw);
    
    @media screen and (min-width: 1400px) { @include flex(row, calc(.5rem + 2dvw)); justify-content: space-between; }

    & p{
        font-size: clamp(var(--fs-body2), 10vw, calc(var(--fs-heading3) + 1dvw));
        font-family: 'Okine-Thin';
        max-width: 15ch;
        position: relative;
        color: var(--clr-txt);
        
        span{font-family: 'Okine-Light'}
    }

    img{
        object-fit: cover;
        border-radius: 1rem;
        opacity: .7;
        width: 100%;
        height: 100%
        
    }

}

//Skills section
.skills{
    @include container();
    padding-block: 3em calc(10em + 10dvw);
    @media (width > 800px) and (width < 1500px) { padding-top: calc(5em + 10dvw) }

    h2{
        font-size: clamp(calc(var(--fs-heading3) - 5dvw), 10dvw, var(--fs-heading2));
        font-family: 'Okine-Medium';
        color: var(--clr-txt);
        padding-bottom: 1.5rem;
    }

    p{
        max-width: 30ch;
        line-height: 1.5;
        color: var(--clr-txt);
        font-size: clamp(var(--fs-body), 10dvw, calc(var(--fs-body) + .25dvw));

        &:first-of-type{padding-bottom: 1rem}
    }

    &__list{padding-top: 6em}

    h3{
        font-size: clamp(calc(var(--fs-body2) + 2dvw), 10dvw, var(--fs-heading3));
        font-family: 'Okine-Regular';
        text-align: center;
        color: var(--clr-primary);

        &:first-of-type{padding-bottom: calc(1.5em + 3dvw);}
        &:not(:first-of-type){
            border-top: 1px solid var(--neutral-500);
            padding-block: calc(1.5em + 3dvw);
        }
    }

    @media screen and (min-width: 800px) {
        @include flex(row, 1rem);
        justify-content: space-between;

        &__desc{
            max-width: max-content;
            position: sticky;
            top: 0;
            align-self: start;
        }

        &__list{
            width: 50%;
            padding-top: .75rem
        }
    }
}

//Projects section
.projects{
    @include container();
    padding-block: calc(5em + 5dvw) calc(10em + 10dvw);

    h2{
        font-size: clamp(calc(var(--fs-body3) + 3dvw), 10vw, var(--fs-heading2));
        font-family: 'Okine-Medium';
        padding-block: 2rem 10rem;
        text-transform: uppercase;
        color: var(--clr-txt);
    }

    h3{
        text-decoration: none; 
        font-family: 'Okine-Regular';
        font-size: clamp(calc(var(--fs-body) + 1dvw), 7vw, var(--fs-heading3));
        position: relative;
        color: var(--clr-txt);

    }

    a{
        text-decoration: none;
        color: var(--secondary);
        font-family: 'Okine-Regular';
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        font-size: clamp(var(--fs-caption), 5dvw, calc(var(--fs-body) + .15dvw));

        &:hover{ color: var(--accent);}

        & svg{
            height: 13px;
            width: 13px;
        }
    }

    p{
        font-size: clamp(var(--fs-caption), 3dvw, var(--fs-body2));
        text-align: center;
        @media screen and (max-width: 640px) {width: min-content}
    }

    &__contents{
        color: var(--clr-primary);
        @include flex(row, 1rem);
        @media screen and (max-width: 450px) { flex-direction: column; gap: 2rem;}
        align-items: center;
        justify-content: space-between;
        padding: calc(5em + 10dvw) 2vw;
        border-top: 1px solid var(--neutral-500);

        &:not(:first-child){border-bottom: 1px solid var(--neutral-500)}
        &:not(:hover){opacity: .7}
    }
}

//About Page
.about-page{
    @include container();

    h1{
        font-size: clamp(calc(var(--fs-body3) + .75dvw), 10vw, var(--fs-heading));
        font-family: 'Okine-Black';
        padding-block: 1em;
        color: var(--clr-txt);

        span{
            color: transparent;
            -webkit-text-stroke: 3px var(--clr-primary);
            @media screen and (max-width: 600px) { -webkit-text-stroke: 1px var(--clr-txt); }
        }
    }

    h2:not(.contact h2){
        font-size: clamp(var(--fs-body2), 8vw, var(--fs-heading2));
        font-family: 'Okine-Medium';
        padding-block: .25em;
        color: var(--clr-primary);
    }

    h3{
        font-size: clamp(calc(var(--fs-body) + .75dvw), 5.5vw, var(--fs-heading3));
        font-family: 'Okine-Regular';
        padding-block: 1.5rem;
        color: var(--clr-primary);
        display: inline-flex;
        gap: 1rem;
        align-items: center;
    }

    &__profile{
        padding-block: 3em calc(10em + 10dvw);
        max-height: 130dvh;
        position: relative;
        overflow: hidden;
        color: var(--clr-txt);

        & .wrapper{
            position: sticky;
            left: 0;
            top: 0;
            z-index: -1;
        }

        

        & p{
            font-size: clamp(var(--fs-body), 3vw, var(--fs-body2));
            font-family: 'Okine-Light';
            max-width: 80ch;

            &:nth-child(1){padding-block: 2rem;}
        }
    } 

    &__design-style{
        padding-block: calc(2em + 3dvw);
        color: var(--clr-txt);

        .flex{
            @include flex(column, 1rem);

            @media screen and (min-width: 1250px) {
                max-width: 90%;
                margin-right: auto;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        
        & p{
            padding-top: 1.5em;
            max-width: 35ch;
            font-size: clamp(var(--fs-body), 3vw, var(--fs-body2));
        }

        span{color: var(--secondary);}

        &--sample{
            padding-block: calc(7em + 8dvw);
            @media screen and (max-width: 1250px) {
                @include flex(row, 2rem);
                align-items: center;
                justify-content: center;
            }
        }

        .img-placeholder{
            height: clamp(calc(8rem  + 5dvw), 18dvw ,calc(15em + 15dvw));
            width: clamp(calc(9.8rem  + 5dvw), 23dvw ,calc(15em + 15dvw));

            @media screen and (width > 500px) and (width < 1250px) {
                height: calc(10rem + 10dvw);
                width: calc(15rem + 15dvw);
            }

            background-image: url(../assets/Huy.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            margin-top: auto;

            &::before{
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                background-image: url(../assets/Bright.png);
                background-size: contain;
                background-repeat: no-repeat;
                top: calc(-2rem + -6dvw);
                left: calc(-2rem + -4dvw);
                z-index: -1;
            }

            &::after{
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                background-image: url(../assets/Vucko.png);
                background-size: contain;
                background-repeat: no-repeat;
                top: calc(2rem + 7dvw);;
                left: calc(2rem + 5dvw);
                z-index: 2;
            }
        }
    }

    &__niche{
        padding-block: calc(3em + 2dvw);
        color: var(--clr-txt);

        & > p:first-of-type{
            padding-block: 3rem calc(3rem + 3dvw);
            span{color: var(--secondary);}
            font-size: clamp(var(--fs-body), 3vw, var(--fs-body2));
        }

        &--label{
            padding-block: calc(2em + 3dvw) 2em;
            font-size: clamp(calc(var(--fs-body) + .1em), 5dvw, calc(var(--fs-body3) + .5em));
            font-family: 'Okine-Regular';
            color: var(--clr-txt);

            $i: 0;
            @for $i from 1 through 3{
                & span:nth-child(#{$i}){
                    display: inline-block;
                    animation: dots 1s ease-in-out infinite alternate both;
                    animation-delay: calc(100ms * ($i * 3));
                }
            }
        }

        &--field{
            @include flex(column, 2rem);
            justify-content: space-between;
            font-size: clamp(var(--fs-body), 3vw, calc(var(--fs-body) + .25em));

            @media screen and (min-width: 1000px) {
                flex-direction: row; 
                & > div{
                    flex: 1
                }
            }
        }
    }

}

//Works Page
.works-page{
    @include container();

    h1{
        font-size: clamp(calc(var(--fs-body3) + .75dvw), 10vw, var(--fs-display));
        font-family: 'Okine-Black';
        padding-block: calc(1em + 3.5dvw);
        color: var(--clr-txt);

        span{
            color: transparent;
            -webkit-text-stroke: 3px var(--clr-primary);
            @media screen and (max-width: 800px) { -webkit-text-stroke: 1px var(--clr-txt); }
        }
    }

    h2:not(.contact h2){
        font-size: clamp(calc(var(--fs-body) + .2em), 8dvw, var(--fs-heading3));
        font-family: 'Okine-Bold';
        color: var(--neutral-100);
    }

    a:not(.contact a){
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-size: calc(var(--fs-body) + .08em);
        color: var(--secondary);
        font-family: 'Okine-Light';
        height: fit-content;

        & svg{
            width: .6em;
            height: max-content;
        }

        &:hover{font-family: 'Okine-Regular'}
    }

    .desc__row{
        @include flex(row, 1rem);
        &:first-of-type{padding-bottom: 1rem; border-bottom: 1px solid var(--neutral-300)}
        &:last-of-type{
            padding-top: 1rem;
            @media screen and (width < 350px) {flex-direction: column}
        }

        &--stack{
            @include flex(row, 1rem);
            & p{
                border: 1px solid var(--neutral-300);
                align-self: flex-start;
                padding: .25rem .35rem;
                border-radius: .75rem;
            }
        }
        justify-content: space-between;
    }

    img{
        border-radius: 2rem;
        object-fit:cover ;
        object-position: top;
        @media screen and (max-width: 700px) {height: calc(20rem + 30dvw)}
        box-shadow: 0 0 10px rgba(255 255 255 / 0.5);
    }

    .flex-wrapper{
        @include flex(column, calc(5rem + 15dvw));
        padding-block: 3em calc(3em + 7dvw);
    }

    &__card{
        position: relative;
        width: fit-content;
        
        &--desc{margin-block: 3em;}

        @media screen and (min-width: 900px) {
            &:last-of-type{align-self: flex-end;}
            &--desc{
                background-color: var(--neutral-900);
                margin-block: 0;
                position: absolute;
                width: 100%;
                bottom: 0;
                padding: 2rem 3rem;
                border-bottom-left-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }

            img{opacity: .85;}
        }
    }

    
}

//Contact Page
.contact-page{
    @include container();

    h1{
        font-size: clamp(calc(var(--fs-body3) + .75dvw), 10vw, var(--fs-display));
        font-family: 'Okine-Black';
        padding-block: .875em;
        color: var(--clr-txt);

        span{
            color: transparent;
            -webkit-text-stroke: 3px var(--clr-primary);
            @media screen and (max-width: 600px) { -webkit-text-stroke: 1px var(--clr-txt); }
        }
    }

    .form-group{
        @include flex(column, 1rem);
        padding-block: 3rem;
        color: var(--clr-txt);
        border-top: 1px solid var(--neutral-500);

        &:focus-within{
            label{
                color: var(--secondary);
                font-family: 'Okine-Bold';
            }
        }
    }

    label{
        padding-left: 1.5rem;
        font-family: 'Okine-Light';

        span{
            display: inline-block;
            padding-left: .25rem;
            animation: question-mark 500ms ease-in-out infinite alternate;
        }
    }

    input,textarea{
        padding: 1rem 1.5rem;
        background-color: transparent;
        border: 0;
        color: var(--neutral-100);
        outline: 0;

        &::-webkit-input-placeholder, &::-moz-placeholder{
            color: var(--clr-txt);
            opacity: .7;
        }
    }

    textarea{resize: none;}

    button{
        width: 100%;
        @include flex(row, 1rem);
        align-items: center;
        justify-content: center;
        padding-block: .65rem;
        background-color: var(--accent);
        border: none;
        color: var(--neutral-100);
        cursor: pointer;
        transform: translateY(0);
        transition: transform 300ms ease-in-out;

        img{
            transform: translateX(0);
            transition: transform 300ms ease-in-out;
        }

        &:hover{
            box-shadow: 2px 3px 0 var(--clr-primary);
            transform: translateY(-3px);
            img{transform: translateX(5px)}
        }

        &:focus{box-shadow: 0 0 30px rgba(255 255 255 / 0.5)}
    }

    form{padding-bottom: 6rem; border-bottom: 1px solid rgba(255 255 255 / 0.5);}

    a, p{
        text-decoration: none; 
        font-family: 'Okine-Light';
        color: var(--clr-txt);
    }

    p{padding-bottom: 1rem;}

    &__links{
        padding-block: 5rem;

        h2{
            font-size: clamp(var(--fs-body), 8vw, var(--fs-body3));
            font-family: 'Okine-Medium';
            color: var(--clr-primary);
            padding-block: 1.5rem;
        }

        & a{
            position: relative;
            
            &::after{
                position: absolute;
                content: '';
                width: 0%;
                height: 2px;
                left: 1rem;
                bottom: -3px;
                background-color: var(--neutral-300);
                transition: width 300ms ease-in-out;

            }

            &:hover, &:focus{
                color: var(--secondary);
                &::after{width: 15%;}
            }
        }

        &--socials{
            padding-bottom: 3rem;
            @include flex(column, 1rem)
        }
    }

    @media screen and (min-width: 70em) {
        &__container{@include flex(row, 20vw)}

        a,p{padding-left: 1rem;}

        form{flex: 1; border-bottom: 0; padding-bottom: 10rem;}

        h3{padding-top: 0;}

        &__links{padding-top: 0}
    }
}

//Burger Menu
.burger{
    position: fixed;
    z-index: 9;
    top: 5dvh;
    right: 5dvw;
    background-color: var(--neutral-900);
    border-radius: 50%;
    transform: rotate(0);
    padding: .875rem;
    pointer-events: all;
    touch-action: all;
    border: 2px solid var(--neutral-500);

    svg{
        color:var(--neutral-100); 
        cursor: pointer;
        height: clamp(25px, 3vw, 40px);
        width: clamp(25px, 3vw, 40px);

        &:not(#logo):active{
            transform: rotate(180deg);
            transition: transform 200ms ease-in-out;
        }
    }
}

//Disable scrolling when nav is open
.disabled{
    pointer-events: none;
    touch-action: none;
    overflow: hidden;
}

//Loading animation fallback for Suspense
.loading-fallback{
    height: 80vh;
    width: 100vw;
    @include flex(row, 0);
    align-items: center;
    justify-content: center;
}

//Down arrow animation
@keyframes down-arrow{
    from{transform: translateY(-1px);}
    to{transform: translateY(1px);}
}

//Contact page form-group question mark animation
@keyframes question-mark{
    from{transform: translateY(0);}
    to{transform: translateY(1px);}
}

//About page h3 dots animation
@keyframes dots{
    from{transform: translateY(0);}
    to{transform: translateY(-2px);}
}