@forward 'Components/reset';
@forward 'Components/font-faces';
@forward 'Components/properties';

//Pages
@forward 'Pages/preloader.scss';
@forward 'Pages/header.scss';


body{
    background-color: var(--clr-bg);
    font-size: var(--font-size-400);
    font-family: 'Public-Sans-Regular';
}