@forward 'Components/reset';
@forward 'Components/font-faces';
@forward 'Components/properties';

//Pages
@forward 'Pages/preloader.scss';
@forward 'Pages/header.scss';
@forward 'Pages/footer.scss';

@mixin container(){
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;
}

@mixin flex($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($fit, $min, $max, $gap){
    display: grid;
    grid-template-columns: repeat($fit, minmax($min, $max));
    gap: $gap;
}

body{
    background-color: var(--clr-lm-bg);
    font-family: 'Okine-Thin';
    color: var(--clr-lm-primary)
}

//Hero section
.hero{
    @include container();
    padding-block: 3rem;
    height: 90vh;
    position: relative;

    h1{
        font-size: clamp(var(--font-size-400), 16.5vw, var(--font-size-800));
        font-family: 'Okine-Black-Outline';
        position: relative;

        //Line bg design
        &::before{
            content: '';
            position: absolute;
            height: 1.215em;
            width: 5.10em;
            border: 1px solid black;
            top: .65em;
            left: -5px;
        }
    }

    .subHeading{
        font-size: clamp(var(--font-size-450), 18vw, 9rem);
        font-family: 'Okine-Black';
        line-height: 1.2;
        white-space: nowrap;
    }

    img{
        max-height: 40vw;
        max-width: 40vw;
        border-radius: .5rem;
        cursor: pointer;
    }

    &__creator{
        padding-block: 7rem;
        @include flex(row, 1rem);
        align-items: center;
        justify-content: flex-end;

        & p{
            font-size: clamp(var(--font-size-300), 10vw, var(--font-size-800));
            font-family: 'Okine-Thin-Outline';
            line-height: 1;
        }
    }

    &__bottom{
        padding-block: 2rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        & p{opacity: .5; line-height: 1.2; font-size: var(--font-size-100);}

        svg ellipse{
                animation: scroll-animation .7s ease-in-out infinite alternate;
            }
    }
}

//About section
.about{
    min-height: 270vh;
    padding-block: 10rem 5rem;
    @include container();
    h2{
        font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
        font-family: 'Okine-Regular';
        padding-block: 2rem;
        text-transform: uppercase;
    }
    h3{
        font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
        font-family: 'Okine-Regular';
        padding-block: 2rem;
    }

    //First two paragraph tags on the about page
    &__top-text, &__bottom-text{
        font-size: clamp(var(--font-size-250), 3.75vw, var(--font-size-550));
        padding-block: 5em;
        line-height: 1.7;
    }
    &__bottom-text{
        text-align: right;
        span{font-style: italic;}
    }

    &__skills--list{
        padding-block: 5rem;

        @include grid(auto-fill, 100px, 120px, 2rem);
        place-content: center;
        justify-items: center;
        text-align: center;

        font-family: 'Okine-Light';
    }
}

//Projects section
.projects{
    @include container();
    padding-block: 2rem 7rem;

    img{
        width: 100%;
        height: 40vh;
        object-fit: fill;
        box-shadow: 0 0 2px rgba( 0 0 0 / .9);
    }

    h2{
        font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
        font-family: 'Okine-Regular';
        padding-block: 2rem;
        text-transform: uppercase;
    }
    h3{
        font-size: clamp(var(--font-size-250), 3vw, var(--font-size-450));
        font-family: 'Okine-Light';
        padding-block: 2rem;
    }

    article{height: 80vh; &:last-of-type{margin-top: 5rem;}}

    li{
        padding-block: .25rem;
        list-style: inside;
        a{font-style: italic; font-weight: var(--font-weight-600);}
    }

    button{
        padding: 1rem 3rem;
        margin-top: 1rem;
        background-color: var(--clr-lm-primary);
        color: white;
        border: 0;
        font-family: 'Okine-Light';
        cursor: pointer;

        &:hover, &:focus, &:active{
            background-color: var(--clr-lm-secondary);
            color: black;
            border: 1px solid black;
        }
    }
}

//Contacts section
.contact{
    @include container();
    height: 80vh;
    padding-top: 3rem;

    &__sub-heading{font-size: clamp(var(--font-size-300), 3vw, var(--font-size-500))}
    h2{
        font-size: clamp(var(--font-size-300), 10vw, var(--font-size-700));
        text-align: center;
        padding-block: 5rem 1rem;
        a{font-family: 'Bodoni-Italic'; text-decoration: none;}
    }

    svg{
        height: 30px;
        width: 30px;
        cursor: pointer;
        & path{fill: var(--clr-lm-primary);}
        
        &:hover, &:focus, &:active{
            & path{
                fill: var(--clr-lm-secondary)
            }
        }
    }

    &__details{
        text-align: center;
        font-family: 'Okine-Regular';
    }

    &__socials{
        padding-top: 2rem;
        text-align: center;
        @include flex(row, 1rem);
        justify-content: center;
    }
}

//Desktop Layouts
@media (min-width: 40em){
    .hero{
        height: 90vh;
        img{
            max-height: 20em;
            max-width: 30em;
        }

        &__creator{
            padding-block: 1rem ;
        }
    }

    .about{
        &__top-text{max-width: 30ch}
        &__bottom-text{max-width:30ch; margin-left: auto;}

        &__skills{
            min-height: 80vh;
            @include flex(column, 2rem);

            &--subheading{
                max-width: 40ch;
                position: sticky;
                top: 0;
            }

            &--list{
                grid-template-columns: repeat(2, minmax(100px, 150px));
                padding-top: 0;
                max-width: 30%;
                align-self: flex-end;
            }

        }
    }

    .projects{
        h2{padding-block: 2rem 10vh}

        img{
                width: 40vw;
                height: 50vh;
                object-fit:fill;
        }

        ul li{
            font-size: 1.15rem;
            padding-top: 1rem;
        }

        button{margin-block: 3vw}
        article{height: 100vh}
        
        &__group{
            @include flex(row, 2rem);
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (width < 325px) {
    .hero{
        padding-block: 1rem;
        &__creator{ flex-direction: column; padding-block: 7rem 1rem;}
    }
}

@media (width > 640px) and (width < 930px){
    .projects{
        img{width: 70vw;}
        &__group{flex-direction: column;}
    }
}

@keyframes scroll-animation{
    from{transform: translateY(0);}
    to{transform: translateY(.25rem);}
}