/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
html, body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Scroll bar styling*/
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--neutral-300);
}

@font-face {
  font-family: "Okine-Black";
  src: url("/public/Fonts/Okine-Black.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Okine-Bold";
  src: url("/public/Fonts/Okine-Bold.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Okine-Medium";
  src: url("/public/Fonts/Okine-Medium.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Okine-Regular";
  src: url("/public/Fonts/Okine-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Okine-Light";
  src: url("/public/Fonts/Okine-Light.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Okine-Thin";
  src: url("/public/Fonts/Okine-Thin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Supreme-Bold";
  src: url("/public/Fonts/Supreme-Bold.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Supreme-Regular";
  src: url("/public/Fonts/Supreme-Regular.woff2"), format("woff2");
  font-display: swap;
}
:root {
  --fs-display: 17.938rem;
  --fs-heading: 10.062rem;
  --fs-heading2: 6.875rem;
  --fs-heading3: 4.250rem;
  --fs-body3: 2.625rem;
  --fs-body2: 1.625rem;
  --fs-body: 1rem;
  --fs-caption: 0.813rem;
  --clr-txt: hsl(216, 100%, 99%);
  --clr-bg: hsl(216, 100%, 1%);
  --clr-primary: hsl(216, 56%, 74%);
  --clr-secondary: hsl(217, 97%, 30%);
  --lm-txt: hsl(216, 100%, 1%);
  --lm-bg: hsl(216, 100%, 99%);
  --lm-primary: hsl(217, 97%, 30%);
  --lm-secondary: hsl(216, 56%, 74%);
  --lm-accent: hsl(290, 78%, 27%);
  --accent: hsl(290, 22%, 73%);
  --neutral-900: hsl(0, 0%, 0%);
  --neutral-700: hsl(0, 0%, 20%);
  --neutral-500: hsl(0, 0%, 40%);
  --neutral-300: hsl(0, 0%, 60%);
  --neutral-100: hsl(0, 0%, 100%);
}

.preloader {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 20;
}
.preloader.removed {
  display: none;
}
.preloader__dot {
  visibility: hidden;
}
.preloader__bg {
  flex: 1;
  background-color: var(--neutral-900);
  transform-origin: top;
}
.preloader p {
  font-size: clamp(var(--fs-body) + 0.5rem, 4vw, var(--fs-heading2));
  font-family: "Okine-Black";
  color: var(--neutral-100);
  position: absolute;
  align-self: center;
  margin: auto;
  text-transform: uppercase;
}
.preloader p span {
  display: inline-block;
  transition: all 0.1s ease;
}

.header {
  padding-block: 2rem;
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.header .logo {
  color: var(--clr-txt);
  text-decoration: none;
  font-size: clamp(var(--fs-body2), 5vw, var(--fs-body3));
  font-family: "Okine-Medium";
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header__btns {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}
.header__btns--mobile-menu {
  cursor: pointer;
  display: none;
  pointer-events: all;
  touch-action: all;
  position: relative;
  cursor: pointer;
}
.header__btns--mobile-menu svg {
  color: var(--clr-txt);
}
.header a {
  color: var(--clr-txt);
  text-decoration: none;
  font-size: clamp(var(--fs-caption), 3vw, 1.25rem);
  font-family: "Okine-Thin";
  position: relative;
  z-index: 2;
}
.header a:not(.logo)::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0%;
  bottom: 0;
  left: 0;
  transition: width 300ms ease-in-out;
  background-color: var(--neutral-500);
  border-radius: 1rem;
  z-index: -1;
}
.header a.active {
  font-family: "Okine-Light";
}
.header a.active::after {
  width: 50%;
  background-color: var(--accent);
}
.header a:hover:not(.logo, .active)::after {
  width: 50%;
  background-color: var(--neutral-500);
}
.header__pages {
  display: flex;
  padding-block: 1rem;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
}
.header img {
  cursor: pointer;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .header__btns--mobile-menu {
    display: block;
    height: 30px;
    width: 30px;
  }
  .header__btns--mobile-menu.active svg {
    color: var(--neutral-100);
  }
  .header__pages {
    display: none;
  }
}

.footer {
  background-color: var(--neutral-900);
  padding-block: calc(5rem + 5dvw);
}
.footer .logo {
  color: var(--neutral-100);
  text-decoration: none;
  font-size: clamp(var(--fs-body2), 5vw, var(--fs-body3));
  font-family: "Okine-Medium";
  position: relative;
  display: inline-block;
}
.footer p:first-of-type {
  font-size: var(--fs-caption);
  font-family: "Okine-Light";
  color: var(--neutral-100);
}
.footer nav {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .footer nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__links li:not(:last-of-type) {
  padding-bottom: 0.75rem;
}
.footer__mark {
  font-family: "Okine-Light";
}
.footer__mark li:first-of-type {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}
.footer__mark li:first-of-type svg {
  stroke-width: 1.5px;
}
.footer__mark li:nth-child(2) {
  color: var(--accent);
  font-family: "Okine-Medium";
}
.footer a {
  text-decoration: none;
  color: var(--neutral-100);
}
.footer a:not(.logo):hover, .footer a:not(.logo):focus {
  color: var(--accent);
  font-style: italic;
  font-family: "Okine-Regular";
}

.nav {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: var(--neutral-900);
  min-height: 100dvh;
  display: flex;
  align-items: center;
  transition: all 700ms ease-in-out;
  pointer-events: all;
  touch-action: auto;
}
.nav.hidden {
  clip-path: circle(0 at 92% 6%);
  opacity: 0;
}
.nav.show {
  clip-path: circle(300vh at 92% 6%);
  opacity: 1;
}
.nav .close {
  position: absolute;
  top: 5dvh;
  right: 8dvw;
  cursor: pointer;
}
.nav ul {
  padding-left: calc(2rem + 15vw);
}
.nav ul li a {
  text-decoration: none;
  font-size: clamp(var(--fs-body3), 10vw, var(--fs-heading2));
  position: relative;
  color: var(--clr-text);
  font-family: "Okine-Medium";
  z-index: 3;
}
.nav ul li a::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--neutral-500);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  transition: width 500ms ease-in-out;
}
.nav ul li a.active {
  font-family: "Okine-Bold";
}
.nav ul li a.active::after {
  width: 50%;
  background-color: var(--accent);
}
.nav ul li a:hover::after {
  width: 50%;
}
.nav ul li a:focus {
  color: var(--accent);
  outline: 0;
}
.nav .resume {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: calc(0.5rem + 1.5dvw);
}
.nav .resume svg {
  height: 0.35em;
  width: 0.35em;
  stroke: var(--neutral-100);
  stroke-width: 0.04em;
  margin-top: calc(0.5rem + 1dvw);
}
.nav .resume:focus-within svg {
  color: var(--accent);
  stroke: var(--accent);
}

.contact {
  padding-block: calc(5em + 5dvw);
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  color: var(--clr-txt);
}
.contact .flex-wrapper {
  overflow: hidden;
}
.contact > p {
  font-size: clamp(var(--fs-caption) + 0.25em, 3dvw, var(--fs-body) + 0.35dvw);
  color: var(--clr-txt);
}
@media screen and (min-width: 800px) {
  .contact .flex-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (width > 1400px) {
  .contact .flex-wrapper {
    max-width: 90%;
    margin-inline: auto;
  }
}
.contact__sub-heading {
  font-size: clamp(var(--fs-body), 5vw, var(--fs-body2));
  font-family: "Okine-Thin";
  color: var(--clr-txt);
}
.contact h2 {
  font-size: clamp(var(--fs-body3) + 5dvw, 10vw, var(--fs-display));
  max-width: 7ch;
  font-family: "Okine-Bold";
  padding-block: 0.5em;
  color: var(--clr-primary);
}
.contact h2 span {
  display: inline-block;
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.contact a {
  --_xPos: 0;
  --_yPos: 0;
  --_visibility: hidden;
  text-decoration: none;
  font-size: calc(var(--fs-body) + 0.5dvw);
  display: inline-flex;
  font-family: "Okine-Medium";
  color: var(--clr-txt);
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: 2px solid var(--clr-primary);
  padding: 0.5em 2em;
  border-radius: 3rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: color 500ms ease-in-out;
}
.contact a svg {
  width: 0.65em;
  pointer-events: none;
}
.contact a::after {
  position: absolute;
  visibility: var(--_visibility);
  content: "";
  background-color: var(--clr-primary);
  left: var(--_xPos);
  top: var(--_yPos);
  z-index: -1;
  border-radius: 50%;
  scale: 0;
  height: 1px;
  width: 1px;
  transition: scale 1s ease-in-out;
}
@media screen and (min-width: 1000px) {
  .contact a:hover, .contact a:focus {
    color: var(--clr-bg);
    box-shadow: 0 0 50px var(--clr-secondary);
  }
  .contact a:hover::after, .contact a:focus::after {
    scale: 1000;
  }
}
@media screen and (max-width: 1000px) {
  .contact a:focus {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
  }
}
.contact p:not(:first-of-type) {
  font-size: calc(var(--fs-body) + 0.5dvw);
  font-family: "Okine-Regular";
  text-align: center;
  color: var(--clr-txt);
}
.contact__details {
  position: relative;
}
@media screen and (max-width: 800px) {
  .contact__details {
    padding-top: 3em;
  }
}
.contact__details p:first-of-type {
  font-size: calc(var(--fs-body) + 0.5dvw);
  text-transform: uppercase;
  color: var(--accent);
  text-align: center;
  padding-block: calc(1rem + 5dvw);
  font-family: "Okine-Medium";
}
.contact__scroll-to {
  border: 3px solid var(--clr-txt);
  width: max-content;
  padding: calc(0.5rem + 1.5dvw);
  border-radius: 50%;
  margin-top: calc(5em + 5dvw);
  margin-left: auto;
  cursor: pointer;
  rotate: 180deg;
  background-color: var(--neutral-900);
}
.contact__scroll-to svg {
  width: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
  height: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
}
.contact__scroll-to:hover {
  border-color: var(--clr-primary);
  box-shadow: 0 0 30px var(--neutral-500);
}
.contact__scroll-to:hover svg {
  animation: down-arrow 500ms linear infinite alternate;
}

.page-transition-wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
}
.page-transition-wrapper > div {
  flex: 1;
  background-color: var(--neutral-900);
}
.page-transition-wrapper .left {
  transform-origin: left;
}
.page-transition-wrapper .right {
  transform-origin: right;
}

.not-found {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: calc(2em + 3dvw);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  color: var(--clr-txt);
}
@media screen and (min-width: 800px) {
  .not-found {
    flex-direction: row;
    padding-block: 0;
    gap: 0;
  }
}
.not-found img {
  height: auto;
  width: clamp(300px, 90dvw, 1000px);
}
.not-found h1 {
  font-size: clamp(var(--fs-body) + 1dvw, 16vw, var(--fs-body3));
  max-width: 15ch;
  padding-bottom: 2rem;
  font-family: "Okine-Black";
}

.minify {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  color: var(--clr-txt);
}
.minify .back {
  color: var(--clr-txt);
  padding: calc(0.5rem + 1dvw);
  width: -moz-fit-content;
  border: 2px solid var(--clr-secondary);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 500ms ease-in-out;
  cursor: pointer;
}
.minify .back:hover {
  background-color: var(--clr-secondary);
}
.minify h1 {
  font-size: clamp(var(--fs-body3) + 2dvw, 16vw, var(--fs-display));
  font-family: "Okine-Black";
  padding-block: calc(0.5rem + 4.5dvw) 0.5em;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 700px) {
  .minify h1 {
    padding-bottom: 0;
  }
}
.minify h1 span {
  display: inline-block;
}
.minify p {
  padding-top: calc(1em + 0.5dvw);
  line-height: 1.8;
  font-family: "Okine-Light";
}
.minify h2 {
  font-size: clamp(var(--fs-heading3) - 5dvw, 10dvw, var(--fs-heading2));
  font-family: "Okine-Bold";
  color: var(--clr-txt);
  padding-bottom: 1.5rem;
}
.minify h3 {
  font-size: clamp(var(--fs-body2) + 2dvw, 10dvw, var(--fs-heading3));
  font-family: "Okine-Medium";
  color: var(--clr-primary);
}
.minify .check-btn {
  --_xPos: 0;
  --_yPos: 0;
  --_visibility: hidden;
  color: var(--clr-txt);
  text-decoration: none;
  font-family: "Okine-Medium";
  border: 3px solid var(--clr-primary);
  align-self: center;
  font-size: calc(var(--fs-body) + 0.15dvw);
  padding: 0.75em calc(1em + 1dvw);
  border-radius: 5em;
  position: relative;
  overflow: hidden;
  transition: color 500ms ease-in-out;
}
.minify .check-btn::after {
  position: absolute;
  content: "";
  visibility: var(--_visibility);
  left: var(--_xPos);
  top: var(--_yPos);
  height: 1px;
  width: 1px;
  scale: 0;
  background-color: var(--clr-primary);
  z-index: -1;
  border-radius: 50%;
  transition: scale 1s ease-in-out;
}
.minify .check-btn:hover, .minify .check-btn:focus {
  box-shadow: 0 0 50px var(--clr-secondary);
  color: var(--clr-bg);
}
.minify .check-btn:hover::after, .minify .check-btn:focus::after {
  scale: 1000;
}
.minify__links {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
  margin-bottom: calc(3em + 7dvw);
}
@media screen and (min-width: 700px) {
  .minify__links {
    flex-direction: row;
  }
}
.minify__links a:last-of-type {
  position: relative;
  display: inline-flex;
  gap: 1rem;
  font-size: calc(var(--fs-body) + 0.35dvw);
  font-family: "Okine-Regular";
  align-items: center;
  color: var(--accent);
  z-index: 2;
}
.minify__links a:last-of-type svg {
  height: 1em;
  width: 1em;
}
.minify__links a:last-of-type:hover, .minify__links a:last-of-type:focus {
  font-style: italic;
}
.minify__overview {
  padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
}
.minify__overview--features {
  padding-top: calc(2em + 1dvw);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .minify__overview--features {
    flex-direction: row;
  }
}
.minify__style-guide {
  padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
}
.minify__style-guide .flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .minify__style-guide .flex-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-block: calc(2em + 3dvw);
  }
}
.minify__style-guide--typeface {
  text-align: center;
  max-height: 23.5rem;
  width: clamp(270px, 40dvw, 18rem);
  padding-block: 3.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  box-shadow: 8px 8px 0 var(--clr-secondary);
}
.minify__style-guide--typeface p:nth-of-type(1) {
  font-family: "Supreme-Regular";
}
.minify__style-guide--typeface p:nth-of-type(2) {
  font-size: var(--fs-heading3);
  font-family: "Supreme-Bold";
  padding-top: 0;
}
.minify__style-guide--typeface p:nth-of-type(3) {
  font-family: "Supreme-Regular";
  font-size: calc(var(--fs-body) + 0.25em);
}
.minify__style-guide--colors p:first-child {
  font-size: var(--fs-body2);
  font-family: "Okine-Regular";
}
.minify__style-guide .colors__container {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: calc(2rem + 3dvw);
  gap: 2rem;
}
.minify__style-guide .colors__container--card {
  width: max-content;
}
.minify__style-guide .colors__container--card div {
  height: 90px;
  width: 180px;
}
.minify__style-guide .colors__container--card p {
  padding-top: 0;
}
.minify__technical {
  padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
}
.minify__technical .designing__mid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: calc(2em + 8dvw);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.minify__technical .designing__mid--text {
  max-width: 70ch;
}
@media screen and (min-width: 1000px) {
  .minify__technical .designing__mid {
    flex-direction: row;
    max-width: 80%;
    margin-inline: auto;
  }
}
.minify__technical .designing__mid img {
  height: auto;
  width: clamp(300px, 30dvw, 23rem);
  border-radius: 1.5rem;
}
.minify__technical .designing__last {
  overflow: hidden;
}
.minify__technical .designing__last p {
  position: relative;
}
.minify__technical--development {
  padding-top: calc(3em + 2dvw);
  overflow: hidden;
}
.minify__technical--development > div {
  position: relative;
}
@media screen and (min-width: 1000px) {
  .minify__technical .designing__last {
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 4dvw);
  }
  .minify__technical .designing__last p {
    padding-top: 0;
  }
  .minify__technical .development__mid {
    padding-block: calc(1em + 2dvw);
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 4dvw);
  }
  .minify__technical .development__mid > div {
    flex: 1;
  }
}
.minify__difficulties {
  padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
}
.minify__difficulties span {
  color: var(--clr-primary);
}
.minify__difficulties img {
  max-height: 110px;
  width: clamp(200px, 20dvw, 18rem);
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--neutral-300);
  margin-left: 0.25rem;
}
@media screen and (min-width: 900px) {
  .minify__difficulties--logo {
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 4dvw);
    align-items: center;
    padding-bottom: calc(2em + 1dvw);
    overflow-y: hidden;
  }
  .minify__difficulties--logo > * {
    position: relative;
  }
  .minify__difficulties--last {
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 4dvw);
  }
}
.minify__overall {
  padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
}

.shortly {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  color: var(--clr-txt);
}
.shortly .back {
  color: var(--clr-txt);
  padding: calc(0.5rem + 1dvw);
  width: -moz-fit-content;
  border: 2px solid var(--clr-secondary);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 500ms ease-in-out;
  cursor: pointer;
}
.shortly .back:hover {
  background-color: var(--clr-secondary);
}
.shortly h1 {
  font-size: clamp(var(--fs-body3) + 2dvw, 16vw, var(--fs-display));
  font-family: "Okine-Black";
  padding-block: calc(0.5rem + 5dvw) 0.5em;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .shortly h1 {
    padding-bottom: 0;
  }
}
.shortly h1 span {
  display: inline-block;
}
.shortly p {
  padding-top: calc(1em + 0.5dvw);
  line-height: 1.8;
  font-family: "Okine-Light";
}
.shortly h2 {
  font-size: clamp(var(--fs-heading3) - 5dvw, 10dvw, var(--fs-heading2));
  font-family: "Okine-Bold";
  color: var(--clr-txt);
  padding-bottom: 1.5rem;
  padding-top: calc(1em + 1dvw);
}
.shortly h3 {
  font-size: clamp(var(--fs-body2) + 2dvw, 10dvw, var(--fs-heading3));
  font-family: "Okine-Medium";
  color: var(--clr-primary);
  padding-top: calc(0.3em + 1dvw);
}
.shortly .check-btn {
  --_xPos: 0;
  --_yPos: 0;
  --_visibility: hidden;
  color: var(--clr-txt);
  text-decoration: none;
  font-family: "Okine-Medium";
  border: 3px solid var(--clr-primary);
  align-self: center;
  font-size: calc(var(--fs-body) + 0.15dvw);
  padding: 0.75em calc(1em + 1dvw);
  border-radius: 5em;
  position: relative;
  overflow: hidden;
  transition: color 500ms ease-in-out;
}
.shortly .check-btn::after {
  position: absolute;
  content: "";
  visibility: var(--_visibility);
  left: var(--_xPos);
  top: var(--_yPos);
  height: 1px;
  width: 1px;
  scale: 0;
  background-color: var(--clr-primary);
  z-index: -1;
  border-radius: 50%;
  transition: scale 1s ease-in-out;
}
.shortly .check-btn:hover, .shortly .check-btn:focus {
  box-shadow: 0 0 50px var(--clr-secondary);
  color: var(--clr-bg);
}
.shortly .check-btn:hover::after, .shortly .check-btn:focus::after {
  scale: 1000;
}
.shortly__links {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: calc(3em + 7dvw);
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .shortly__links {
    flex-direction: row;
  }
}
.shortly__links a:last-of-type {
  position: relative;
  display: inline-flex;
  gap: 1rem;
  font-size: calc(var(--fs-body) + 0.35dvw);
  font-family: "Okine-Regular";
  align-items: center;
  color: var(--accent);
  z-index: 2;
}
.shortly__links a:last-of-type svg {
  height: 1em;
  width: 1em;
}
.shortly__links a:last-of-type:hover, .shortly__links a:last-of-type:focus {
  font-style: italic;
}
.shortly__tldr, .shortly__overall, .shortly__difficulties {
  padding-block: calc(2em + 3dvw) calc(5em + 7dvw);
}
.shortly__overview {
  padding-block: calc(2em + 3dvw) calc(5em + 7dvw);
}
.shortly__overview--feature {
  overflow: hidden;
}
.shortly__technical {
  padding-block: calc(2em + 3dvw) calc(5em + 7dvw);
  overflow: hidden;
}
.shortly__technical code {
  padding: 0.25rem 0.5rem;
  background-color: var(--neutral-500);
  border-radius: 0.25rem;
  color: var(--clr-bg);
}
.shortly__technical .development__mid {
  overflow: hidden;
}
@media screen and (min-width: 1000px) {
  .shortly__technical .development__mid {
    padding-block: calc(1em + 2dvw);
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 4dvw);
  }
  .shortly__technical .development__mid > p {
    flex: 1;
  }
}

body {
  background-color: var(--clr-bg);
  font-family: "Okine-Light";
  color: var(--neutral-100);
  transition: background-color 1s ease-in-out;
}

.hero {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  position: relative;
  max-height: 85dvh;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .hero {
    padding-top: calc(5rem + 5dvw);
  }
}
.hero .wrapper {
  position: sticky;
  top: 0;
  left: 0;
}
.hero h1 {
  font-size: clamp(var(--fs-body3) + 2dvw, 16vw, var(--fs-display));
  font-family: "Okine-Black";
  color: transparent;
  overflow: hidden;
  -webkit-text-stroke: 6px var(--clr-txt);
  padding-top: calc(0.5rem + 1.5dvw);
}
@media screen and (max-width: 1000px) {
  .hero h1 {
    -webkit-text-stroke: 2px var(--clr-primary);
  }
}
.hero h1 span {
  display: inline-block;
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.hero .subHeading {
  font-size: clamp(var(--fs-body3) + 1dvw, 12vw, 14.375rem);
  font-family: "Okine-Black";
  line-height: 1.3;
  white-space: nowrap;
  color: var(--clr-txt);
  overflow: hidden;
}
.hero .subHeading span {
  display: inline-block;
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.hero__bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-top: calc(1em + 1dvw);
  color: var(--clr-txt);
}
@media screen and (max-width: 600px) {
  .hero__bottom {
    padding-block: calc(10rem + 5dvw);
  }
}
.hero__bottom p {
  position: relative;
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.hero__bottom--scrollTo {
  border: 2px solid var(--clr-txt);
  border-radius: 50%;
  padding: min(3dvw, 1.5em);
  background-color: var(--neutral-900);
  position: relative;
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
  cursor: pointer;
}
.hero__bottom--scrollTo:hover {
  border-color: var(--clr-primary);
}
.hero__bottom--scrollTo:hover svg {
  animation: down-arrow 500ms linear alternate infinite;
}
.hero__bottom--scrollTo svg {
  width: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
  height: clamp(var(--fs-caption), 5dvw, var(--fs-body2));
  color: var(--neutral-100);
}

.bg-wrapper {
  background-color: var(--clr-bg);
  position: relative;
}

.intro {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: calc(5em + 10dvw) calc(10em + 10dvw);
}
@media screen and (min-width: 1400px) {
  .intro {
    display: flex;
    flex-direction: row;
    gap: calc(0.5rem + 2dvw);
    justify-content: space-between;
  }
}
.intro p {
  font-size: clamp(var(--fs-body2), 10vw, var(--fs-heading3) + 1dvw);
  font-family: "Okine-Thin";
  max-width: 15ch;
  position: relative;
  color: var(--clr-txt);
}
.intro p span {
  font-family: "Okine-Light";
}
.intro p span:hover {
  cursor: none;
}
.intro img {
  object-fit: cover;
  border-radius: 1rem;
  height: auto;
  flex: 1;
}

.skills {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: 3em calc(10em + 10dvw);
}
@media (width > 800px) and (width < 1500px) {
  .skills {
    padding-top: calc(5em + 10dvw);
  }
}
.skills h2 {
  font-size: clamp(var(--fs-heading3) - 5dvw, 10dvw, var(--fs-heading2));
  font-family: "Okine-Medium";
  color: var(--clr-txt);
  padding-bottom: 1.5rem;
}
.skills p {
  max-width: 30ch;
  line-height: 1.5;
  color: var(--clr-txt);
  font-size: clamp(var(--fs-body), 10dvw, var(--fs-body) + 0.25dvw);
}
.skills p:first-of-type {
  padding-bottom: 1rem;
}
.skills__list {
  padding-top: 6em;
  overflow: hidden;
}
.skills h3 {
  font-size: clamp(var(--fs-body2) + 2dvw, 10dvw, var(--fs-heading3));
  font-family: "Okine-Regular";
  text-align: center;
  color: var(--clr-txt);
  position: relative;
}
.skills h3:first-of-type {
  padding-bottom: calc(1.5em + 3dvw);
}
.skills h3:not(:first-of-type) {
  border-top: 1px solid var(--clr-primary);
  padding-block: calc(1.5em + 3dvw);
}
@media screen and (min-width: 800px) {
  .skills {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
  .skills__desc {
    max-width: max-content;
    position: sticky;
    top: 0;
    align-self: start;
  }
  .skills__list {
    width: 50%;
    padding-top: 0.75rem;
  }
}

.projects {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: calc(5em + 5dvw) calc(10em + 10dvw);
}
.projects__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.projects__container:hover > :not(:hover) {
  opacity: 0.5;
}
.projects__container a {
  margin: 0;
}
.projects h2 {
  font-size: clamp(var(--fs-body3) + 3dvw, 10vw, var(--fs-heading2));
  font-family: "Okine-Medium";
  margin-block: 2rem 10rem;
  text-transform: uppercase;
  color: var(--clr-txt);
  overflow: hidden;
}
.projects h2 span {
  display: inline-block;
  transition: all 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.projects h3 {
  text-decoration: none;
  font-family: "Okine-Regular";
  font-size: clamp(var(--fs-body) + 1dvw, 7vw, var(--fs-heading3));
  position: relative;
  color: var(--clr-txt);
}
.projects a {
  text-decoration: none;
}
.projects .read-more {
  color: var(--accent);
  font-family: "Okine-Regular";
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  font-size: clamp(var(--fs-caption), 5dvw, var(--fs-body) + 0.15dvw);
}
.projects .read-more:hover {
  font-family: "Okine-Medium";
}
.projects .read-more svg {
  height: 13px;
  width: 13px;
}
.projects p {
  font-size: clamp(var(--fs-caption), 3dvw, var(--fs-body2));
  text-align: center;
}
@media screen and (max-width: 640px) {
  .projects p {
    width: min-content;
  }
}
.projects__contents {
  color: var(--clr-txt);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: calc(5em + 10dvw) 2vw;
  border-top: 1px solid var(--neutral-500);
  position: relative;
}
@media screen and (max-width: 450px) {
  .projects__contents {
    flex-direction: column;
    gap: 2rem;
  }
}
.projects__contents:not(:first-child) {
  border-bottom: 1px solid var(--neutral-500);
}

.about-page {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.about-page h1 {
  font-size: clamp(var(--fs-body3) + 0.75dvw, 10vw, var(--fs-heading));
  font-family: "Okine-Black";
  margin-block: 1.5em;
  color: var(--clr-txt);
  position: relative;
  overflow: hidden;
}
.about-page h1 span {
  display: inline-block;
}
.about-page h1 .h1__stagger {
  color: transparent;
  -webkit-text-stroke: 3px var(--clr-txt);
}
@media screen and (max-width: 600px) {
  .about-page h1 .h1__stagger {
    -webkit-text-stroke: 1px var(--clr-txt);
  }
}
.about-page h2:not(.contact h2) {
  font-size: clamp(var(--fs-body2), 8vw, var(--fs-heading2));
  font-family: "Okine-Medium";
  padding-block: 0.25em;
  color: var(--clr-txt);
}
.about-page h3 {
  font-size: clamp(var(--fs-body) + 0.75dvw, 5.5vw, var(--fs-heading3));
  font-family: "Okine-Regular";
  padding-block: 1.5rem;
  color: var(--clr-primary);
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.about-page__profile {
  max-height: 100dvh;
  position: relative;
  overflow: hidden;
  color: var(--clr-txt);
}
.about-page__profile .wrapper {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .about-page__profile {
    max-height: 100dvh;
  }
  .about-page__profile .wrapper {
    flex-direction: row;
  }
}
.about-page__profile p {
  font-size: clamp(var(--fs-body), 3vw, var(--fs-body2));
  font-family: "Okine-Light";
  max-width: 80ch;
}
.about-page__profile p:nth-child(2) {
  padding-block: 2rem;
}
.about-page__profile p:nth-child(2) span {
  color: var(--clr-primary);
}
.about-page__design-style {
  padding-block: calc(2em + 3dvw) calc(7em + 8dvw);
  color: var(--clr-txt);
  overflow: hidden;
}
.about-page__design-style .flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 1250px) {
  .about-page__design-style .flex {
    max-width: 90%;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about-page__design-style p {
  padding-top: 1.5em;
  max-width: 35ch;
  font-size: clamp(var(--fs-body), 3vw, var(--fs-body2));
}
.about-page__design-style span {
  color: var(--clr-primary);
}
.about-page__design-style--sample {
  padding-top: calc(7em + 8dvw);
  position: relative;
  width: -moz-fit-content;
  align-self: center;
  z-index: 0;
}
@media screen and (max-width: 1250px) {
  .about-page__design-style--sample {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.about-page__design-style--sample img {
  height: clamp(8rem + 5dvw, 20dvw, 15em + 15dvw);
  width: clamp(9.8rem + 5dvw, 23dvw, 15em + 15dvw);
}
.about-page__design-style--sample img:first-of-type {
  position: absolute;
  top: calc(5rem + 4dvw);
  left: -8dvw;
  scale: 1;
  transition: scale 500ms ease-in-out;
}
.about-page__design-style--sample img:nth-of-type(2) {
  position: relative;
  scale: 1;
  transition: scale 500ms ease-in-out;
}
@media screen and (min-width: 1250px) {
  .about-page__design-style--sample img:first-of-type:hover {
    scale: 1.1;
    z-index: 3;
  }
  .about-page__design-style--sample img:nth-of-type(2):hover {
    scale: 1.2;
    z-index: 3;
  }
  .about-page__design-style--sample img:last-of-type:hover {
    scale: 1.1;
  }
}
.about-page__design-style--sample img:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: calc(-3rem - 3dvw);
  right: -6dvw;
  scale: 1;
  transition: scale 500ms ease-in-out;
}
.about-page__niche {
  padding-block: calc(3em + 2dvw);
  color: var(--clr-txt);
}
.about-page__niche > p:first-of-type {
  padding-block: 3rem calc(3rem + 3dvw);
  font-size: clamp(var(--fs-body), 3vw, var(--fs-body2));
}
.about-page__niche > p:first-of-type span {
  color: var(--clr-primary);
}
.about-page__niche--label {
  padding-block: calc(2em + 3dvw) 2em;
  font-size: clamp(var(--fs-body) + 0.1em, 5dvw, var(--fs-body3) + 0.5em);
  font-family: "Okine-Regular";
  color: var(--clr-txt);
}
.about-page__niche--label span:nth-child(1) {
  display: inline-block;
  animation: dots 1s ease-in-out infinite alternate both;
  animation-delay: 300ms;
}
.about-page__niche--label span:nth-child(2) {
  display: inline-block;
  animation: dots 1s ease-in-out infinite alternate both;
  animation-delay: 600ms;
}
.about-page__niche--label span:nth-child(3) {
  display: inline-block;
  animation: dots 1s ease-in-out infinite alternate both;
  animation-delay: 900ms;
}
.about-page__niche--field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  font-size: clamp(var(--fs-body), 3vw, var(--fs-body) + 0.25em);
  overflow: hidden;
}
@media screen and (min-width: 1000px) {
  .about-page__niche--field {
    flex-direction: row;
  }
  .about-page__niche--field > div {
    flex: 1;
  }
}

.works-page {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.works-page h1 {
  font-size: clamp(var(--fs-body3) + 0.75dvw, 10vw, var(--fs-display));
  font-family: "Okine-Black";
  margin-block: calc(1em + 3.5dvw);
  color: var(--clr-txt);
  overflow: hidden;
}
.works-page h1 span {
  display: inline-block;
  transition: transform 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.works-page h1 .h1__staggered {
  color: transparent;
  -webkit-text-stroke: 3px var(--clr-txt);
}
@media screen and (max-width: 800px) {
  .works-page h1 .h1__staggered {
    -webkit-text-stroke: 1px var(--clr-txt);
  }
}
.works-page h2:not(.contact h2) {
  font-size: clamp(var(--fs-body) + 0.2em, 10dvw, var(--fs-heading2));
  font-family: "Okine-Bold";
  color: var(--neutral-100);
}
.works-page h3 {
  font-size: clamp(var(--fs-body2) + 0.2em, 8dvw, var(--fs-heading3));
  font-family: "Okine-Medium";
  color: var(--clr-txt);
  padding-bottom: 1.5rem;
}
.works-page div[role=link] {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: hsl(290, 22%, 73%);
  padding: 2rem;
}
.works-page div[role=link] svg {
  width: 0.6em;
  height: max-content;
}
.works-page div[role=link]:hover {
  font-family: "Okine-Medium";
}
.works-page section a:not(.contact a) {
  font-size: calc(var(--fs-body) + 0.08em);
  font-family: "Okine-Light";
  text-decoration: none;
}
.works-page .desc__row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.works-page .desc__row:first-of-type {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--neutral-300);
}
.works-page .desc__row:last-of-type {
  padding-top: 1rem;
}
@media screen and (width < 350px) {
  .works-page .desc__row:last-of-type {
    flex-direction: column;
  }
}
.works-page .desc__row--stack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.works-page .desc__row--stack p {
  border: 1px solid var(--neutral-300);
  align-self: flex-start;
  padding: 0.25rem 0.35rem;
  border-radius: 0.75rem;
}
.works-page img {
  border-radius: 2rem;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 700px) {
  .works-page img {
    height: calc(20rem + 30dvw);
  }
}
.works-page .flex-wrapper:not(.contact .flex-wrapper) {
  display: flex;
  flex-direction: column;
  gap: calc(5rem + 15dvw);
  padding-block: 3em calc(3em + 7dvw);
}
.works-page__card {
  position: relative;
  width: fit-content;
}
.works-page__card--desc {
  margin-block: 3em;
  color: var(--neutral-100);
}
@media screen and (min-width: 900px) {
  .works-page__card:last-of-type {
    align-self: flex-end;
  }
  .works-page__card--desc {
    background-color: var(--neutral-900);
    margin-block: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2rem 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .works-page__card img {
    opacity: 0.95;
  }
}
.works-page__minify--tldr, .works-page__shortly--tldr {
  color: var(--clr-txt);
  padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
}
.works-page__minify--tldr span, .works-page__shortly--tldr span {
  color: var(--clr-primary);
}
.works-page__minify--tldr a, .works-page__shortly--tldr a {
  color: var(--clr-primary);
  font-style: italic;
}
.works-page__minify--tldr p:last-of-type, .works-page__shortly--tldr p:last-of-type {
  padding-top: calc(1rem + 0.5dvw);
}

.contact-page {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.contact-page h1 {
  font-size: clamp(var(--fs-body3) + 0.75dvw, 10vw, var(--fs-display));
  font-family: "Okine-Black";
  padding-block: 0.875em;
  color: var(--clr-txt);
}
.contact-page h1 span {
  color: transparent;
  -webkit-text-stroke: 3px var(--clr-txt);
  transition: transform 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
@media screen and (max-width: 600px) {
  .contact-page h1 span {
    -webkit-text-stroke: 1px var(--clr-txt);
  }
}
.contact-page .form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 3rem;
  color: var(--clr-txt);
  border-top: 1px solid var(--neutral-500);
}
.contact-page .form-group:focus-within label {
  color: var(--accent);
  font-family: "Okine-Bold";
}
.contact-page label {
  padding-left: 1.5rem;
  font-family: "Okine-Light";
}
.contact-page label span {
  display: inline-block;
  padding-left: 0.25rem;
  animation: question-mark 500ms ease-in-out infinite alternate;
}
.contact-page input, .contact-page textarea {
  --_danger: hsl(0, 96%, 70%);
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 0;
  color: var(--clr-txt);
  outline: 0;
}
.contact-page input:user-invalid, .contact-page textarea:user-invalid {
  color: var(--_danger);
}
.contact-page input::-webkit-input-placeholder, .contact-page input::-moz-placeholder, .contact-page textarea::-webkit-input-placeholder, .contact-page textarea::-moz-placeholder {
  color: var(--clr-txt);
  opacity: 0.7;
}
.contact-page textarea {
  resize: none;
}
.contact-page button {
  --_xPos: 0;
  --_yPos: 0;
  --_visibility: hidden;
  padding: 1rem calc(1rem + 5dvw);
  border-radius: 20rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  color: var(--clr-txt);
  cursor: pointer;
  transform: translateY(0);
  transition: transform 300ms ease-in-out, color 500ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.contact-page button::after {
  position: absolute;
  visibility: var(--_visibility);
  content: "";
  background-color: var(--clr-primary);
  left: var(--_xPos);
  top: var(--_yPos);
  z-index: -1;
  border-radius: 50%;
  scale: 0;
  height: 1px;
  width: 1px;
  transition: scale 1s ease-in-out;
}
.contact-page button svg {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
  pointer-events: none;
}
.contact-page button:hover {
  color: var(--clr-bg);
  box-shadow: 0 0 30px var(--clr-secondary);
}
.contact-page button:hover svg {
  transform: translateX(5px);
}
.contact-page button:hover::after {
  scale: 1000;
}
.contact-page button:focus {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
.contact-page form {
  padding-bottom: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.contact-page a, .contact-page p {
  text-decoration: none;
  font-family: "Okine-Light";
  z-index: 2;
  color: var(--clr-txt);
}
.contact-page p {
  padding-bottom: 1rem;
}
.contact-page__links {
  padding-block: 5rem;
}
.contact-page__links .text-wrapper {
  overflow: hidden;
}
.contact-page__links h2 {
  font-size: clamp(var(--fs-body), 8vw, var(--fs-body3));
  font-family: "Okine-Medium";
  color: var(--clr-primary);
  padding-block: 1.5rem;
}
.contact-page__links a {
  position: relative;
}
.contact-page__links a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 1rem;
  bottom: -3px;
  background-color: var(--accent);
  transition: width 300ms ease-in-out;
}
.contact-page__links a:hover, .contact-page__links a:focus {
  font-style: italic;
}
.contact-page__links a:hover::after, .contact-page__links a:focus::after {
  width: 15%;
}
.contact-page__links--socials {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 70em) {
  .contact-page__container {
    display: flex;
    flex-direction: row;
    gap: 20vw;
  }
  .contact-page a, .contact-page p {
    padding-left: 1rem;
  }
  .contact-page form {
    flex: 1;
    border-bottom: 0;
    padding-bottom: 10rem;
  }
  .contact-page h3 {
    padding-top: 0;
  }
  .contact-page__links {
    padding-top: 0;
  }
}

.burger {
  --_xPos: 0;
  --_yPos: 0;
  --_visibility: hidden;
  position: fixed;
  z-index: 9;
  top: 5dvh;
  right: 5dvw;
  background-color: var(--neutral-900);
  border: 0.5px solid var(--neutral-700);
  border-radius: 50%;
  pointer-events: all;
  touch-action: all;
  overflow: hidden;
}
.burger::after {
  position: absolute;
  visibility: var(--_visibility);
  content: "";
  background-color: var(--clr-secondary);
  left: var(--_xPos);
  top: var(--_yPos);
  z-index: -1;
  border-radius: 50%;
  scale: 0;
  height: 1px;
  width: 1px;
  transition: scale 500ms ease-in-out;
}
.burger:hover {
  color: var(--clr-bg);
}
.burger:hover::after {
  scale: 300;
}
.burger svg {
  color: var(--neutral-100);
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  rotate: 0;
}
.burger svg:not(#logo):active {
  rotate: 180deg;
  transition: rotate 200ms ease-in-out;
}

.disabled {
  pointer-events: none;
  touch-action: none;
  overflow: hidden;
}

.loading-fallback {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.gradient-mouse-follower {
  height: min(70rem, 70%);
  width: min(70rem, 70%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  touch-action: none;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(102, 102, 102, 0.15) 0%, rgba(102, 102, 102, 0) 50%);
}

.hover-mouse-follower {
  height: 1.5rem;
  width: 1.5rem;
  position: fixed;
  pointer-events: none;
  touch-action: none;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  background-color: var(--clr-secondary);
  border: 1px solid var(--neutral-500);
  display: flex;
  align-items: start;
  justify-content: center;
}
.hover-mouse-follower > * {
  position: absolute;
  inset: 0;
  margin: auto;
}
.hover-mouse-follower img {
  object-fit: contain;
  clip-path: circle();
  height: auto;
  width: auto;
}
.hover-mouse-follower .minify-hover {
  color: var(--clr-txt);
  font-family: "Okine-Medium";
  font-size: var(--fs-body);
  line-height: 1.3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: fit-content;
}
.hover-mouse-follower .minify-hover svg {
  height: 1em;
  width: 1em;
}
.hover-mouse-follower .resume-hover {
  color: var(--clr-txt);
  font-family: "Okine-Medium";
  font-size: calc(var(--fs-body) - 0.25cqw);
  height: fit-content;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.hover-mouse-follower .resume-hover svg {
  height: 1em;
  width: 1em;
}

.hide {
  visibility: hidden;
}

@keyframes down-arrow {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(1px);
  }
}
@keyframes question-mark {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1px);
  }
}
@keyframes dots {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2px);
  }
}

/*# sourceMappingURL=index.css.map */
