/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
html, body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Stardom";
  src: url("public/Fonts/Stardom-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Bodoni";
  src: url("public/Fonts/Bodoni.ttf") format("truetype");
}
@font-face {
  font-family: "Bodoni-Italic";
  src: url("public/Fonts/Bodoni-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Okine-Black";
  src: url("public/Fonts/Okine-Black.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Black-Outline";
  src: url("public/Fonts/Okine-Black-Outline.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Regular";
  src: url("public/Fonts/Okine-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Light";
  src: url("public/Fonts/Okine-Light.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Thin-Outline";
  src: url("public/Fonts/Okine-Thin-Outline.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Thin";
  src: url("public/Fonts/Okine-Thin.otf") format("opentype");
}
:root {
  --clr-lm-bg: hsl(0, 0%, 94%);
  --clr-lm-primary: hsl(211, 91%, 9%);
  --clr-lm-secondary: hsl(199, 30%, 85%);
  --clr-dm-bg: hsl(240, 10%, 8%);
  --clr-dm-primary: hsl(37, 100%, 96%);
  --clr-dm-secondary: hsl(194, 72%, 34%);
  --font-size-100: .9rem;
  --font-size-200: 1rem;
  --font-size-250: 1.875rem;
  --font-size-300: 2.5rem;
  --font-size-400: 3.125rem;
  --font-size-450: 3.5rem;
  --font-size-500: 3.75rem;
  --font-size-550: 4rem;
  --font-size-600: 4.4rem;
  --font-size-700: 5.5rem;
  --font-size-800: 6.25rem;
  --font-size-900: 8.5rem;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

.preloader {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
  background-color: black;
  transform-origin: top;
}
.preloader h1 {
  font-size: clamp(var(--font-size-300), 5vw, var(--font-size-700));
  font-family: "Stardom";
  color: white;
}
.preloader h1 span {
  display: inline-block;
}

.header {
  padding-block: 2rem;
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.header #logo {
  color: white;
}
.header .burger {
  position: relative;
  z-index: 999;
  top: -0.7rem;
  background-color: var(--clr-dm-primary);
  clip-path: circle();
  transform: rotate(0);
  padding: 0.55rem;
  pointer-events: all;
  touch-action: all;
}
.header button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
.header svg {
  color: black;
  cursor: pointer;
}
.header svg:not(#logo):active {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}
.header .group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.header img {
  cursor: pointer;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-block: 4rem;
  background-color: black;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 2rem;
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.footer ul svg {
  color: var(--clr-dm-primary);
}
.footer ul img {
  rotate: 180deg;
  cursor: pointer;
  animation: hover 0.75s ease-in-out alternate infinite;
}

@keyframes hover {
  from {
    transform: translateY(0.15rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
.nav {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: black;
  min-height: 100vh;
  color: var(--clr-dm-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 700ms ease-in-out;
  pointer-events: all;
  touch-action: all;
}
.nav.hidden {
  clip-path: circle(0 at 92% 6%);
  opacity: 0;
}
.nav.show {
  clip-path: circle(300vh at 92% 6%);
  opacity: 1;
}
.nav span {
  font-family: "Bodoni";
}
.nav ul li a {
  text-decoration: none;
  font-size: clamp(var(--font-size-300), 10vw, var(--font-size-800));
  list-style: 1.5;
  position: relative;
}
.nav ul li a:not(.btn)::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -1rem;
  left: 0;
  background-color: var(--clr-dm-primary);
}
.nav ul li a:not(.btn):hover, .nav ul li a:not(.btn):focus, .nav ul li a:not(.btn):active {
  font-style: italic;
}
.nav ul li a:not(.btn):hover::after, .nav ul li a:not(.btn):focus::after, .nav ul li a:not(.btn):active::after {
  width: 100%;
  transition: width 500ms ease-in-out;
}
.nav li:nth-child(4) {
  padding-block: 3rem;
}
.nav .btn {
  color: white;
  font-size: var(--font-size-250);
  border: 1px solid white;
  text-align: center;
  padding: 1rem 6vw;
}
.nav .btn:hover, .nav .btn:focus, .nav .btn:active {
  box-shadow: 3px 5px 0 var(--clr-dm-primary);
  color: var(--clr-dm-primary);
}

body {
  background-color: var(--clr-dm-bg);
  font-family: "Okine-Thin";
  color: white;
}

.hero {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: 3rem;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.hero h1 {
  font-size: clamp(var(--font-size-400), 16.5vw, var(--font-size-800));
  font-family: "Okine-Black-Outline";
  position: relative;
}
.hero .subHeading {
  font-size: clamp(var(--font-size-450), 18vw, 9rem);
  font-family: "Okine-Black";
  line-height: 1.2;
  white-space: nowrap;
  color: var(--clr-dm-primary);
}
.hero img {
  max-height: 40vw;
  max-width: 40vw;
  border-radius: 0.5rem;
}
.hero__creator {
  padding-block: 7rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.hero__creator p {
  font-size: clamp(var(--font-size-300), 10vw, var(--font-size-800));
  font-family: "Okine-Thin-Outline";
  line-height: 1;
  overflow: hidden;
  position: relative;
  z-index: -999;
  padding-bottom: 0.25rem;
}
.hero__bottom {
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.hero__bottom p {
  opacity: 0.5;
  line-height: 1.2;
  font-size: var(--font-size-100);
}
.hero__bottom svg ellipse {
  animation: scroll-animation 0.7s ease-in-out infinite alternate;
}

.about {
  padding-block: 5rem 20rem;
}
.about .wrapper {
  height: 200vh;
  position: relative;
}
.about #slider {
  overflow: hidden;
  height: 100vh;
  position: sticky;
  top: 0;
}
.about .container {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
}
.about h2 {
  font-size: clamp(var(--font-size-300), 30vw, 30rem);
  font-family: "Okine-Regular";
  padding-block: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.about h3 {
  font-size: clamp(var(--font-size-300), 6vw, var(--font-size-700));
  font-family: "Okine-Regular";
  padding-block: 2rem;
}
.about__top-text, .about__bottom-text {
  font-size: clamp(var(--font-size-250), 4vw, var(--font-size-600));
  line-height: 1.7;
  padding-block: 20vw;
  min-width: 100vw;
  text-align: center;
}
.about__bottom-text span {
  font-style: italic;
}
.about__skills {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.about__skills--list {
  padding-block: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
  gap: 2rem;
  place-content: center;
  justify-items: center;
  text-align: center;
  font-family: "Okine-Light";
}

.projects {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: 2rem 15rem;
}
.projects h2 {
  font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
  font-family: "Okine-Regular";
  padding-block: 2rem 10rem;
  text-transform: uppercase;
}
.projects h3 {
  text-decoration: none;
  font-family: "Okine-Black";
  font-size: clamp(var(--font-size-250), 7vw, var(--font-size-600));
  animation: scroll-animation 500ms ease-in-out alternate infinite;
  position: relative;
}
.projects p {
  font-size: var(--font-size-100);
}
.projects a {
  text-decoration: none;
}
.projects__contents {
  color: var(--clr-dm-primary);
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 2vw;
  border-top: 1px solid white;
}
.projects__contents:not(:first-child) {
  border-bottom: 1px solid white;
}
.projects__contents:not(:hover) {
  opacity: 0.6;
}

.contact {
  padding-top: 15vw;
  background-color: black;
  color: white;
}
.contact__wrapper {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  height: 80vh;
  padding-top: 3rem;
}
.contact__sub-heading {
  font-size: clamp(var(--font-size-300), 3vw, var(--font-size-500));
}
.contact h2 {
  font-size: clamp(var(--font-size-300), 10vw, var(--font-size-700));
  text-align: center;
  padding-block: 5rem 1rem;
}
.contact h2 a {
  font-family: "Bodoni-Italic";
  text-decoration: none;
  color: var(--clr-dm-primary);
  position: relative;
}
.contact h2 a::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--clr-dm-primary);
  transition: width 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.contact h2 a:hover::after, .contact h2 a:focus::after, .contact h2 a:active::after {
  width: 100%;
}
.contact svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
.contact svg path {
  fill: var(--clr-dm-primary);
}
.contact svg:hover, .contact svg:focus, .contact svg:active {
  transform: translateY(-5px);
}
.contact svg:hover path, .contact svg:focus path, .contact svg:active path {
  fill: var(--clr-dm-secondary);
}
.contact__details {
  text-align: center;
  font-family: "Okine-Regular";
}
.contact__socials {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.form {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 90%;
}
.form::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.form__close-btn {
  position: absolute;
  left: 87%;
  top: 2rem;
  cursor: pointer;
  rotate: 0;
  color: var(--clr-dm-primary);
}
.form__close-btn:hover, .form__close-btn:focus {
  rotate: 180deg;
  transition: rotate 500ms ease-in-out;
}
.form img {
  max-width: 40vw;
  max-height: 25vh;
}
.form__subheading {
  background-color: var(--clr-dm-bg);
  color: var(--clr-dm-primary);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.form__subheading h3 {
  font-size: clamp(var(--font-size-250), 7vw, var(--font-size-600));
  line-height: 1.3;
  font-family: "Okine-Black";
}
.form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.form .form-group input, .form .form-group textarea {
  position: relative;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid black;
  font-family: "Okine-Light";
}
.form .form-group input:hover, .form .form-group input:focus, .form .form-group input:active, .form .form-group textarea:hover, .form .form-group textarea:focus, .form .form-group textarea:active {
  box-shadow: 5px 8px 0 var(--clr-lm-primary);
}
.form .form-group input:focus + label, .form .form-group input:hover + label, .form .form-group input:not(:placeholder-shown) ~ label, .form .form-group textarea:focus + label, .form .form-group textarea:hover + label, .form .form-group textarea:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  transform: scale(0.9);
  background-color: white;
  z-index: 999;
}
.form .form-group label {
  position: absolute;
  transform: scale(1);
  top: 1.15rem;
  left: 1rem;
  padding-inline: 7px;
  transition: 200ms ease-in-out;
}
.form__inputs {
  padding: 2rem 3rem;
}
.form__inputs textarea {
  resize: none;
}
.form button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Okine-Light";
}
.form button img {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.form button:hover, .form button:focus, .form button:active {
  box-shadow: 5px 8px 0 var(--clr-lm-primary);
}
.form button:hover img, .form button:focus img, .form button:active img {
  transform: translateX(5px);
}

.disabled {
  pointer-events: none;
  touch-action: none;
  overflow: hidden;
}

@media (min-width: 40em) {
  .hero {
    height: 90vh;
  }
  .hero img {
    max-height: 20em;
    max-width: 30em;
  }
  .hero__creator {
    padding-block: 1rem;
  }
  .about__top-text {
    max-width: 30ch;
  }
  .about__bottom-text {
    max-width: 30ch;
    margin-left: auto;
  }
  .about__skills {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .about__skills--subheading {
    max-width: 40vw;
    position: sticky;
    top: 0;
  }
  .about__skills--list {
    grid-template-columns: repeat(2, minmax(100px, 150px));
    padding-top: 0;
    max-width: 30%;
    margin-left: auto;
  }
  .projects {
    position: relative;
  }
  .projects h2 {
    padding-bottom: 15rem;
  }
  .projects__contents {
    padding-inline: 15rem;
    transition: all 400ms ease-in-out;
  }
  .projects__contents:hover {
    padding-inline: 13rem;
  }
  .projects__contents p {
    font-size: var(--font-size-250);
    pointer-events: none;
  }
  .projects h3 {
    animation: none;
    pointer-events: none;
  }
  .projects__hover-wrapper {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
  }
  .projects img {
    height: 200px;
    margin-inline: auto;
  }
  .projects__hover-container {
    height: 100%;
    width: 100%;
    position: relative;
    transition: top 500ms cubic-bezier(0.45, 0, 0.55, 1);
  }
  .projects__hover-content {
    padding: 3rem;
  }
  .form {
    width: clamp(60%, 80vw, 90rem);
    height: 75vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .form__close-btn {
    color: black;
    left: 90%;
  }
  .form__subheading {
    flex-direction: column;
    position: relative;
    width: 40%;
  }
  .form__subheading img {
    display: none;
  }
  .form__inputs {
    width: 50%;
    margin: auto;
    padding: 0;
  }
}
@media screen and (width < 325px) {
  .hero {
    padding-block: 1rem;
  }
  .hero__creator {
    flex-direction: column;
    padding-block: 7rem 1rem;
  }
}
@media (width > 640px) and (width < 1200px) {
  .projects__contents {
    flex-direction: column;
    text-align: center;
  }
}
@keyframes scroll-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.1rem);
  }
}

/*# sourceMappingURL=index.css.map */
