/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
html, body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Stardom";
  src: url("public/Fonts/Stardom-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Bodoni";
  src: url("public/Fonts/Bodoni.ttf") format("truetype");
}
@font-face {
  font-family: "Bodoni-Italic";
  src: url("public/Fonts/Bodoni-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Okine-Black";
  src: url("public/Fonts/Okine-Black.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Black-Outline";
  src: url("public/Fonts/Okine-Black-Outline.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Regular";
  src: url("public/Fonts/Okine-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Light";
  src: url("public/Fonts/Okine-Light.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Thin-Outline";
  src: url("public/Fonts/Okine-Thin-Outline.otf") format("opentype");
}
@font-face {
  font-family: "Okine-Thin";
  src: url("public/Fonts/Okine-Thin.otf") format("opentype");
}
:root {
  --clr-lm-bg: hsl(0, 0%, 94%);
  --clr-lm-primary: hsl(211, 91%, 9%);
  --clr-lm-secondary: hsl(199, 30%, 85%);
  --clr-dm-bg: hsl(240, 10%, 4%);
  --clr-dm-primary: hsl(37, 100%, 96%);
  --clr-dm-secondary: hsl(194, 72%, 14%);
  --font-size-100: .9rem;
  --font-size-200: 1rem;
  --font-size-250: 1.875rem;
  --font-size-300: 2.5rem;
  --font-size-400: 3.125rem;
  --font-size-450: 3.5rem;
  --font-size-500: 3.75rem;
  --font-size-550: 4rem;
  --font-size-600: 4.4rem;
  --font-size-700: 5.5rem;
  --font-size-800: 6.25rem;
  --font-size-900: 8.5rem;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

.preloader {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
  background-color: black;
  transform-origin: top;
}
.preloader h1 {
  font-size: clamp(var(--font-size-300), 5vw, var(--font-size-700));
  font-family: "Stardom";
  color: white;
}
.preloader h1 span {
  display: inline-block;
}

.header {
  padding-block: 2rem;
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.header button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
.header svg {
  color: black;
  cursor: pointer;
}
.header .group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.header img {
  cursor: pointer;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-block: 4rem;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 2rem;
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.footer ul img {
  rotate: 180deg;
  cursor: pointer;
  animation: hover 0.75s ease-in-out alternate infinite;
}

@keyframes hover {
  from {
    transform: translateY(0.15rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
body {
  background-color: var(--clr-lm-bg);
  font-family: "Okine-Thin";
  color: var(--clr-lm-primary);
}

.hero {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: 3rem;
  height: 90vh;
  position: relative;
}
.hero h1 {
  font-size: clamp(var(--font-size-400), 16.5vw, var(--font-size-800));
  font-family: "Okine-Black-Outline";
  position: relative;
}
.hero h1::before {
  content: "";
  position: absolute;
  height: 1.215em;
  width: 5.1em;
  border: 1px solid black;
  top: 0.65em;
  left: -5px;
}
.hero .subHeading {
  font-size: clamp(var(--font-size-450), 18vw, 9rem);
  font-family: "Okine-Black";
  line-height: 1.2;
  white-space: nowrap;
}
.hero img {
  max-height: 40vw;
  max-width: 40vw;
  border-radius: 0.5rem;
  cursor: pointer;
}
.hero__creator {
  padding-block: 7rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
.hero__creator p {
  font-size: clamp(var(--font-size-300), 10vw, var(--font-size-800));
  font-family: "Okine-Thin-Outline";
  line-height: 1;
}
.hero__bottom {
  padding-block: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.hero__bottom p {
  opacity: 0.5;
  line-height: 1.2;
  font-size: var(--font-size-100);
}
.hero__bottom svg ellipse {
  animation: scroll-animation 0.7s ease-in-out infinite alternate;
}

.about {
  min-height: 270vh;
  padding-block: 10rem 5rem;
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
}
.about h2 {
  font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
  font-family: "Okine-Regular";
  padding-block: 2rem;
  text-transform: uppercase;
}
.about h3 {
  font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
  font-family: "Okine-Regular";
  padding-block: 2rem;
}
.about__top-text, .about__bottom-text {
  font-size: clamp(var(--font-size-250), 3.75vw, var(--font-size-550));
  padding-block: 5em;
  line-height: 1.7;
}
.about__bottom-text {
  text-align: right;
}
.about__bottom-text span {
  font-style: italic;
}
.about__skills--list {
  padding-block: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
  gap: 2rem;
  place-content: center;
  justify-items: center;
  text-align: center;
  font-family: "Okine-Light";
}

.projects {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  padding-block: 2rem 7rem;
}
.projects img {
  width: 100%;
  height: 40vh;
  object-fit: fill;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
.projects h2 {
  font-size: clamp(var(--font-size-300), 4vw, var(--font-size-600));
  font-family: "Okine-Regular";
  padding-block: 2rem;
  text-transform: uppercase;
}
.projects h3 {
  font-size: clamp(var(--font-size-250), 3vw, var(--font-size-450));
  font-family: "Okine-Light";
  padding-block: 2rem;
}
.projects article {
  height: 80vh;
}
.projects article:last-of-type {
  margin-top: 5rem;
}
.projects li {
  padding-block: 0.25rem;
  list-style: inside;
}
.projects li a {
  font-style: italic;
  font-weight: var(--font-weight-600);
}
.projects button {
  padding: 1rem 3rem;
  margin-top: 1rem;
  background-color: var(--clr-lm-primary);
  color: white;
  border: 0;
  font-family: "Okine-Light";
  cursor: pointer;
}
.projects button:hover, .projects button:focus, .projects button:active {
  background-color: var(--clr-lm-secondary);
  color: black;
  border: 1px solid black;
}

.contact {
  max-width: clamp(80%, 85vw, 110rem);
  margin-inline: auto;
  height: 80vh;
  padding-top: 3rem;
}
.contact__sub-heading {
  font-size: clamp(var(--font-size-300), 3vw, var(--font-size-500));
}
.contact h2 {
  font-size: clamp(var(--font-size-300), 10vw, var(--font-size-700));
  text-align: center;
  padding-block: 5rem 1rem;
}
.contact h2 a {
  font-family: "Bodoni-Italic";
  text-decoration: none;
}
.contact svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.contact svg path {
  fill: var(--clr-lm-primary);
}
.contact svg:hover path, .contact svg:focus path, .contact svg:active path {
  fill: var(--clr-lm-secondary);
}
.contact__details {
  text-align: center;
  font-family: "Okine-Regular";
}
.contact__socials {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 40em) {
  .hero {
    height: 90vh;
  }
  .hero img {
    max-height: 20em;
    max-width: 30em;
  }
  .hero__creator {
    padding-block: 1rem;
  }
  .about__top-text {
    max-width: 30ch;
  }
  .about__bottom-text {
    max-width: 30ch;
    margin-left: auto;
  }
  .about__skills {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .about__skills--subheading {
    max-width: 40ch;
    position: sticky;
    top: 0;
  }
  .about__skills--list {
    grid-template-columns: repeat(2, minmax(100px, 150px));
    padding-top: 0;
    max-width: 30%;
    align-self: flex-end;
  }
  .projects h2 {
    padding-block: 2rem 10vh;
  }
  .projects img {
    width: 40vw;
    height: 50vh;
    object-fit: fill;
  }
  .projects ul li {
    font-size: 1.15rem;
    padding-top: 1rem;
  }
  .projects button {
    margin-block: 3vw;
  }
  .projects article {
    height: 100vh;
  }
  .projects__group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (width < 325px) {
  .hero {
    padding-block: 1rem;
  }
  .hero__creator {
    flex-direction: column;
    padding-block: 7rem 1rem;
  }
}
@media (width > 640px) and (width < 930px) {
  .projects img {
    width: 70vw;
  }
  .projects__group {
    flex-direction: column;
  }
}
@keyframes scroll-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.25rem);
  }
}

/*# sourceMappingURL=index.css.map */
