.minify{
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;
    color: var(--clr-txt);

    h1{
        font-size: clamp(calc(var(--fs-body3) + 2dvw), 16vw, var(--fs-display));
        font-family: 'Okine-Black';
        padding-block: calc(.5rem + 7dvw) .5em;
        @media screen and (min-width: 700px) { padding-bottom: 0; }
    }

    p{padding-top: calc(1em + .5dvw); line-height: 1.8; font-family: 'Okine-Light';}

    h2{
        font-size: clamp(calc(var(--fs-heading3) - 5dvw), 10dvw, var(--fs-heading2));
        font-family: 'Okine-Bold';
        color: var(--clr-txt);
        padding-bottom: 1.5rem;
    }

    h3{
        font-size: clamp(calc(var(--fs-body2) + 2dvw), 10dvw, var(--fs-heading3));
        font-family: 'Okine-Medium';
        color: var(--clr-primary);
    }

    span{opacity: 1 !important; display: inline !important;}

    &__links{
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: calc(3em + 7dvw);
        @media screen and (min-width: 700px) { flex-direction: row; }

        & a:first-of-type{
            text-decoration: none;
            font-family: 'Okine-Medium';
            border: 3px solid var(--clr-primary);
            align-self: center;
            font-size: calc(var(--fs-body) + .15dvw);
            padding: .75em calc(1em + 1dvw);
            border-radius: 5em;
            position: relative;
            overflow: hidden;
            transition: color 500ms ease-in-out;

            &::after{
                position: absolute;
                content: '';
                height: 1px;
                width: 1px;
                background-color: var(--clr-primary);
                inset: 0;
                margin: auto;
                z-index: -1;
                border-radius: 50%;
                transition: scale 500ms ease-in-out;
                
            }

            &:hover, &:focus{
                box-shadow: 0 0 50px var(--clr-secondary);
                color: var(--clr-bg);
                &::after{scale: 350;}
            }
        }

        & a:last-of-type{
            display: inline-flex;
            gap: 1rem;
            font-size: calc(var(--fs-body) + .35dvw);
            font-family: 'Okine-Regular';
            align-items: center;
            color: var(--accent);

            & svg{
                height: 1em;
                width: 1em;
            }

            &:hover, &:focus{
                font-style: italic;
            }
        }
    }

    &__tldr{padding-block: calc(2em + 3dvw) calc(5em + 10dvw); & span{color: var(--clr-primary);}}

    &__overview{
        padding-block: calc(2em + 3dvw) calc(5em + 10dvw);

        &--features{
            padding-top: calc(2em + 1dvw);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media screen and (min-width: 800px) {flex-direction: row}
        }
    }

    &__style-guide{
        padding-block: calc(2em + 3dvw) calc(5em + 10dvw);
        
        & .flex-wrapper{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            justify-content: space-between;
            @media screen and (min-width: 1200px) {flex-direction: row; justify-content: space-between; padding-block: calc(2em + 3dvw);}
        }

        &--typeface{
            text-align: center;
            max-height: 23.5rem;
            width: clamp(270px, 40dvw, 18rem);
            padding-block: 3.5rem;
            background-color: var(--clr-primary);
            color: var(--clr-bg);
            box-shadow: 8px 8px 0 var(--clr-secondary);

            & p:nth-of-type(1){font-family: 'Supreme-Regular'}

            & p:nth-of-type(2){
                font-size: var(--fs-heading3);
                font-family: 'Supreme-Bold';
                padding-top: 0;
            }

            & p:nth-of-type(3){font-family: 'Supreme-Regular'; font-size: calc(var(--fs-body) + .25em);}
        }

        &--colors p:first-child{
            font-size: var(--fs-body2);
            font-family: 'Okine-Regular';
        }

        & .colors__container{
            background-color: var(--clr-primary);
            color: var(--clr-bg);
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: calc(2rem + 3dvw);
            gap: 2rem;

            &--card{
                width: max-content  ;
                & div{
                    height: 90px;
                    width: 180px;
                }

                & p{padding-top: 0}
            }
        }
    }

    &__technical{
        padding-block: calc(2em + 3dvw) calc(5em + 10dvw);

        & .designing__mid{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-block: calc(2em + 8dvw);
            align-items: center;
            &--text{max-width: 70ch}
            justify-content: space-between;

            @media screen and (min-width: 1000px) {
                flex-direction: row;
                max-width: 80%;
                margin-inline: auto;
            }

            & img{
                height: auto;
                width: clamp(300px, 30dvw, 23rem);
                border-radius: 1.5rem;
            }
        }

        &--development{padding-top: calc(3em + 2dvw);}

        @media screen and (min-width: 1000px){
            & .designing__last{
                display: flex;
                flex-direction: row;
                gap: calc(1rem + 4dvw);

                & p{padding-top: 0;}
            }

            & .development__mid{
                padding-block: calc(1em + 2dvw);
                display: flex;
                flex-direction: row;
                gap: calc(1rem + 4dvw);

                & > div{flex: 1;}
            }
        }

    }

    &__difficulties{
        padding-block: calc(2em + 3dvw) calc(5em + 10dvw);

        & span{color: var(--clr-primary);}
        & img{
            max-height: 110px;
            width: clamp(200px, 20dvw, 18rem);
            border-radius: 1rem;
            box-shadow: 0 0 10px var(--neutral-300);
        }

        @media screen and (min-width: 900px){
            &--logo{
                display: flex;
                flex-direction: row;
                gap: calc(1rem + 4dvw);
                align-items: center;
                padding-bottom: calc(2em + 1dvw);
            }

            &--last{
                display: flex;
                flex-direction: row;
                gap: calc(1rem + 4dvw);
            }
        }
    }

    &__overall{padding-block: calc(2em + 3dvw) calc(5em + 10dvw);}
}