.shortly{
    max-width: clamp(80%, 85vw, 110rem);
    margin-inline: auto;
    color: var(--clr-txt);

    .back{
        color: var(--clr-txt);
        padding: calc(.5rem + 1dvw);
        width: -moz-fit-content;
        border: 2px solid var(--clr-secondary);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 500ms ease-in-out;
        cursor: pointer;

        &:hover{background-color: var(--clr-secondary);}
    }
    
    h1{
        font-size: clamp(calc(var(--fs-body3) + 2dvw), 16vw, var(--fs-display));
        font-family: 'Okine-Black';
        padding-block: calc(.5rem + 5dvw) .5em;
        overflow: hidden;
        @media screen and (min-width: 700px) { padding-bottom: 0; }

        span{display: inline-block}
    }

    p{padding-top: calc(1em + .5dvw); line-height: 1.8; font-family: 'Okine-Light';}

    h2{
        font-size: clamp(calc(var(--fs-heading3) - 5dvw), 10dvw, var(--fs-heading2));
        font-family: 'Okine-Bold';
        color: var(--clr-txt);
        padding-bottom: 1.5rem;
        padding-top: calc(1em + 1dvw);
    }

    h3{
        font-size: clamp(calc(var(--fs-body2) + 2dvw), 10dvw, var(--fs-heading3));
        font-family: 'Okine-Medium';
        color: var(--clr-primary);
        padding-top: calc(.3em + 1dvw);
    }

    .check-btn{
        --_xPos: 0;
        --_yPos: 0;
        --_visibility: hidden;

        color: var(--clr-txt);
        text-decoration: none;
        font-family: 'Okine-Medium';
        border: 3px solid var(--clr-primary);
        align-self: center;
        font-size: calc(var(--fs-body) + .15dvw);
        padding: .75em calc(1em + 1dvw);
        border-radius: 5em;
        position: relative;
        overflow: hidden;
        transition: color 300ms ease-in-out;

        &::after{
            position: absolute;
            content: '';
            visibility: var(--_visibility);
            left: var(--_xPos);
            top: var(--_yPos);
            height: 1px;
            width: 1px;
            scale: 0;
            background-color: var(--clr-primary);
            z-index: -1;
            border-radius: 50%;
            transition: scale 1s ease-in-out;
            
        }

        &:hover{
            box-shadow: 0 0 50px var(--clr-secondary);
            color: var(--clr-bg);
            &::after{scale: 1000;}
        }

        &:focus{
            background-color: var(--clr-primary);
            color: var(--clr-bg);
        }
    }

    &__links{
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: calc(3em + 7dvw);
        overflow: hidden;
        @media screen and (min-width: 700px) { flex-direction: row; }

        & a:last-of-type{
            position: relative;
            display: inline-flex;
            gap: 1rem;
            font-size: calc(var(--fs-body) + .35dvw);
            font-family: 'Okine-Regular';
            align-items: center;
            color: var(--accent);
            z-index: 2;

            & svg{
                height: 1em;
                width: 1em;
            }

            &:hover, &:focus{
                font-style: italic;
            }
        }
    }

    &__tldr, &__overall, &__difficulties{padding-block: calc(2em + 3dvw) calc(5em + 7dvw)}
    
    &__overview{
        padding-block: calc(2em + 3dvw) calc(5em + 7dvw);

        &--feature{overflow: hidden;}
    }

    &__technical{
        padding-block: calc(2em + 3dvw) calc(5em + 7dvw);
        overflow: hidden;

        & code{
            padding: .25rem .5rem;
            background-color: var(--neutral-500);
            border-radius: .25rem;
            color: var(--clr-bg);
        }

        & .development__mid{overflow: hidden;}

        @media screen and (min-width: 1000px){

            & .development__mid{
                padding-block: calc(1em + 2dvw);
                display: flex;
                flex-direction: row;
                gap: calc(1rem + 4dvw);

                & > p{
                    flex: 1;
                }
            }
        }
    }

}